@import "work-styles";

@import "neat";

.layout-main.manage {

  @include outer-container;

  padding: 20px 30px;

  hr {
    margin: 20px 0;
  }

  @include roboto();

  .message {
    background: #38b449;
    margin-bottom: 15px;
    padding-left: 65px;
    color: whitesmoke;
    box-shadow: 3px 3px 14px 1px rgba(0,0,0,0.35);

    img.checkmark-green {
      margin-left: -65px;
      float: left;
      height: 44px;
    }

    p {
      padding: 14px 0;
    }
  }

  .heading {
    > * {
      vertical-align: middle;
    }

    h1 {
      font-size: 28px;
      display: inline-block;
    }

    button {
      display: inline-block;
      width  : initial;
      margin : 0 0 0 30px;
      height : initial;
      padding: 8px 10px;

      &:hover {
        cursor: pointer;
        cursor: hand;
      }
    }
  }

  li {

    @include span-columns(12);
    @include omega(1n);
    //@include shift(.5);
    height: 245px;
    margin-bottom: 20px;

    div {

      margin-left: auto;
      margin-right: auto;

      width: 220px;
      height: 100%;
      background: whitesmoke;
      box-shadow: 3px 3px 14px 1px rgba(0,0,0,0.35);

      header {

        height: 17%;
        padding: 3px;

        h4 {
          margin-top: 8px;
          float: left;
          @include ellipsis(140px);
        }

        span.type {
          margin-top: 10px;
          float: right;
          @include source-sans();
          font-size: 12px;
        }
      }

      .middle {
        height: 48%;
        background: black;
        img.missing {
          height: 70px;
          margin-left: 59px;
          margin-top: 15px;
        }
      }

      .bottom {
        height: 35%;
        font-family: sans-serif;
        text-align: center;
        padding: 12px;

        img.checkmark {
          margin-top: -43px;
          margin-left: 47px;
          height: 43px;
          position: absolute;
        }

        img.avatar {
          margin-top: -43px;
          margin-left: 53px;
          position: absolute;
          width: 35px;
          height: 35px;
          border-radius: 35px;
        }

        &.incomplete {
          background: #f25a29;
        }

        &.submitted {
          background: #49dcfe;
          padding-top: 23px;
        }

        span.status {
          font-weight: bold;
          color: white;
          display: inline-block;
          margin-bottom: 8px;
        }

        span.action, span.action a {
          color: whitesmoke;
          display: inline-block;
          a {
            text-decoration: underline;
          }
        }

        &.assigned, &.estimate, &.launched, &.messaged {
          background: whitesmoke;
          padding-top: 23px;
          > span {
            color: black;
            margin-top: 3px;
            a {
              color: #8ce8e9;
            }
          }
        }

        &.estimate span.status {
          color: #4df733;
        }

      }

    }
  }
}
