ul.nav(ng-show="projects.length > 0")
  li
    a(ui-sref="view-work-multiple") Dashboard

  li
    a(ui-sref="view-projects.open") Copilot

  li
    a(href="") Projects

    ul
      li
        a(ui-sref="submit-work.flow") Create New Project

      li(ng-repeat="project in projects")
        a(href="#/timeline/{{project.id}}") {{project.name}}
