header.layout-header(role="banner")
  a.logo("href"="#")

  a.get-started("href"="#") Get Started

  .login-page(class=['clearfix'])
    .login-box(class=['auth0-box'])
      a.login(ng-click="login()")
        .icon
        .label Log in


