header.layout-header(role="banner")
  a.logo("href"="#")

  a.get-started("href"="#") Get Started

      a.login(href="#" ng-controller="LoginController as vm")
        .icon(ng-hide="vm.loggedInUser")
        .label(ng-click="login()" ng-hide="vm.loggedInUser") Log in
        .label(ng-click="logout()" ng-show="vm.loggedInUser") {{vm.loggedInUser}}
        .icon(ng-show="vm.loggedInUser")


