@import "work/work-styles";

.layout-main.copilot-projects, .layout-main.open-projects {
  .nav {
    margin-top: 30px;
    border-bottom: 2px solid $grey-light;

    li {
      margin-left: 10px;

      a {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        font-weight: 500;

        &.inactive {
          border-color: $grey;
          background-color: $grey;
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

