@import "work-includes";

.layout-main.login {
  background-color: $neutral-color-lightest;
  text-align      : center;
  padding         : $padding-big;

  .subheader {
    font-size: $font-size;
  }

  form {
    text-align: left;
    margin    : 0 auto;
    margin-top: $margin;
    max-width : 400px;
    text-align: center;
  }

  .reminder {
    margin-top: $margin;
  }
}
