@import "work-includes";

.layout-main.login {
  .subheader {
    font-size: $font-size;
  }

  form {
    text-align: left;
    margin    : 0 auto;
    margin-top: $margin;
    max-width : 400px;
    text-align: center;

    input, button {
      margin-top: $margin-small;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  .reminder {
    margin-top: $margin;
  }
}
