@import "work-includes";

.layout-main {
  &.login, &.registration, &.forgot-password, &.reset-password {
    login, registration, forgot-password, reset-password {
      margin-top: $margin-smallest;
    }

    > main {
      background-color: $white;
      padding         : $padding;
      max-width       : 328px;
      margin          : 0 auto;
      margin-top      : $margin-small;
      border-radius   : $border-radius-smallest;
    }

    .reminders {
      margin-top: $margin;

      li {
        margin-top: $margin-smallest;
      }
    }
  }
}