@import "work-styles";

ui-view {
  display: block;
}

.layout-main {
  background-color: $neutral-color-lightest;
  padding         : $padding-big;
  text-align      : center;

  > submissions, timeline, project-details {
    max-width: 960px;
    min-height: 200px;
    margin-right: auto;
    margin-left: auto;
  }

  &.submit-work {
    padding: 0;
  }

  timeline, messaging, ng-projects, claimed-projects, open-projects, project-details {
    text-align: left;
    margin-top: $margin;
  }

  project-details {
    padding: $padding;
    background-color: $white;
  }

  &.manage, &.home {
    > a {
      margin-top: $margin-small;
    }

    > hr {
      background-color: $neutral-color-light;
    }
  }
}
