@import "work-includes";
@import "variables";

.layout-main.manage {
  > hr {
    height       : 1px;
    margin       : $vertical-small $horizontal-big;
    margin-bottom: 0;
    max-width    : $max-page-width;
  }
}
