@import "work/work-includes";
@import "variables";

.layout-main.manage {
  > hr {
    height          : 1px;
    margin          : $vertical-small auto;
    margin-bottom   : 0;
    max-width       : $max-page-width;
    background-color: $grey-light;
  }

  > .button {
    margin-top: $vertical-smallest;
  }
}
