@import "work/work-includes";
@import "variables";

.layout-main.messaging {
  messaging {

    > p {
      font-size: 18px;
      font-weight: 400;
    }

    .messages {
      max-width: 768px;
    }

    .messages {
      margin-top: 40px;
    }

    .respond {
      margin-top: 0;
    }
  }
}