@import "work-includes";
@import "variables";

.layout-main.messaging {
  messaging {
    margin-top: 10px;

    > p {
      font-size: $font-size-biggest;
      font-weight: $font-weight;
    }

    .messages, .respond {
      background-color: $white;
      max-width       : 768px;
      padding         : $horizontal-big;
    }

    .messages {
      margin-top: $vertical-big;
    }

    .respond {
      margin-top: 0;
    }
  }
}