@import "work-includes";

.layout-main.register {
  .subheader {
    font-size: $font-size;
  }

  .first-name, .last-name {
    width: 50%;
    float: left;
  }

  .first-name {
    padding-right: $padding-smallest;

    input {
      margin-top: 0px;
    }
  }

  .last-name {
    padding-left: $padding-smallest;

    input {
      margin-top: 0px;
    }
  }

  .organization {
    clear: both;
    padding: 1px;
  }

  hr {
    margin-top: $margin;
  }

  form {
    text-align: left;
    margin-top: $margin;
    max-width : 350px;
    text-align: center;

    input, button {
      margin-top: $margin-small;
    }
  }

  .reminder {
    margin-top: $margin;
  }
}
