$vertical-smallest: 20px;
$vertical-small   : 30px;
$vertical         : 40px;
$vertical-big     : 50px;

$horizontal-smallest: 20px;
$horizontal-small   : 30px;
$horizontal         : 40px;
$horizontal-big     : 50px;

$max-page-width: 1226px;