@import "work/work-includes";

event-card.quote {
  main > * {
    margin-top: 30px;
  }

  .decline {
    margin-left: 10px;
  }

  .estimate {
    background-color: $grey-lighter;
    padding         : 20px;
    margin-top      : 30px;

    .splitter {
      width: 1px;
      background-color: $grey;
    }

    .cost h6, .duration h6 {
      margin-top: 20px;
    }

    ul {
      margin-left : auto;
      margin-right: auto;
      max-width   : 400px;
      margin-top  : 20px;
    }

    &.active {
      background-color: $primary-color;

      * {
        color: $white;
      }

      .splitter {
        background-color: $white;
      }
    }
  }
}