$vertical-spacing-smallest: 10px;
$vertical-spacing-small   : 20px;
$vertical-spacing         : 30px;
$vertical-spacing-big     : 40px;

$horizontal-spacing-smallest: 10px;
$horizontal-spacing-small   : 20px;
$horizontal-spacing         : 30px;
$horizontal-spacing-big     : 40px;
