<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
          <h3>Background Information</h3>
          <table class="table">
            <tr>
              <td>
                Description
              </td>
              <td>
                <textarea name="description" ng-model="vm.newProject.description" />
              </td>
            </tr>
            <tr>
              <td>
                Website
              </td>
              <td>
                <input name="website" type="text" ng-model="vm.newProject.website" />
              </td>
            </tr>
          </table>
          <h3>Visual Style</h3>
          <table class="table" style="width:400px">
            <tr>
              <td>
                Minimal
              </td>
              <td>
                <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleMinimalComplex" />
              </td>
              <td>
                Complex
              </td>
            </tr>
            <tr>
              <td>
                Modern
              </td>
              <td>
                <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleModernClassic" />
              </td>
              <td>
                Classic
              </td>
            </tr>
            <tr>
              <td>
                Playful
              </td>
              <td>
                <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.stylePlayfulSerious" />
              </td>
              <td>
                Serious
              </td>
            </tr>
            <tr>
              <td>
                Loud
              </td>
              <td>
                <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleLoudSubtle" />
              </td>
              <td>
                Subtle
              </td>
            </tr>
            <tr>
              <td>
                Luxury
              </td>
              <td>
                <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleLuxuryBudget" />
              </td>
              <td>
                Budget
              </td>
            </tr>
            <tr>
              <td>
                What ideas do you have for the style/theme of your app?
              </td>
              <td>
                <textarea name="styleIdeas" ng-model="vm.newProject.styleIdeas" />
              </td>
            </tr>
          </table>
          <h3>Content Details</h3>
          <table class="table">
            <tr>
              <td>
                Name
              </td>
              <td>
                <input name="name" type="text" ng-model="vm.newProject.name" />
              </td>
            </tr>
            <tr>
              <td>
                # screens
              </td>
              <td>
                <input type="radio" name="1" ng-value="1" ng-model="vm.newProject.screens" />
                1 screen
                <br />
                <input type="radio" name="2" ng-value="2" ng-model="vm.newProject.screens" />
                2 screens
                <br />
                <input type="radio" name="3" ng-value="3" ng-model="vm.newProject.screens" />
                3 screens
                <br />
                <input type="radio" name="4" ng-value="4" ng-model="vm.newProject.screens" />
                4 screens
                <br />
                <input type="radio" name="5" ng-value="5" ng-model="vm.newProject.screens" />
                5 screens
                <br />
                <input type="radio" name="6" ng-value="6" ng-model="vm.newProject.screens" />
                Other
              </td>
            </tr>
            <tr>
              <td>Describe the screens</td>
              <td>
                <textarea name="screensDescription" ng-model="vm.newProject.screensDescription" />
              </td>
            </tr>
          </table>
          <h3>Project Duration</h3>
          <table class="table">
            <tr>
              <td>
                How soon do you need it?
              </td>
              <td>
                <select name="duration" ng-model="duration">
                  <option ng-value="5" selected>5 days</option>
                  <option ng-value="10">10 days</option>
                  <option ng-value="15">15 days</option>
                  <option ng-value="20">20 days</option>
                  <option ng-value="25">25 days</option>
                  <option ng-value="30">30 days</option>
                  <option ng-value="0">Decide later</option>
                </select>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</section>
