<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-foot">
            <div class="clearfix"></div>
          </div>
          <h3>Background Information</h3>
          <table class="table">
            <tr>
              <td>Field</td>
              <td>Value</td>
            </tr>
            <tr>
              <td>
                Description
              </td>
              <td>
                <textarea name="description" ng-model="vm.newProject.description" />
              </td>
            </tr>
            <tr>
              <td>
                Website
              </td>
              <td>
                <input name="website" type="text" ng-model="vm.newProject.website" />
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </section>
</section>
