.label(ng-click="vm.signin()" ng-hide="vm.isLoggedIn") Log in

a.handle(ng-show="vm.handle", ui-sref="view-work-multiple") {{vm.handle}}

.label(ng-click="vm.signout()" ng-show="vm.isLoggedIn") Log out
