a.login(href="#/")

  .icon(ng-hide="vm.loggedInUser")

  .label(ng-click="signin()" ng-hide="vm.isLoggedIn") Log in

  .label(ng-click="signout()" ng-show="vm.isLoggedIn") {{vm.loggedInUser.handle}}

  .icon(ng-show="vm.loggedInUser")
