main.solid.flex.column.middle.center
  img.icon.biggest(src=require("../../images/quote-generated.svg"))

  label quote received

footer
  a.button.action(ui-sref="timeline({ workId: project.id })") view quote