main.flex.column.middle.center.flex-grow
  img.icon.biggest(src=require("../../images/project-incomplete.svg"))

  label requirements incomplete

  a.button.hollow(ui-sref="submit-work({ id: project.id })") finish requirements