main.solid.flex.column.middle.center
  img.icon.biggest(src=require("../../images/project-launched.svg"))

  label Design work has begun

footer.flex-grow.flex.column.end
  p You'll receive concepts in several days.