main.solid.flex.column.middle.center
  img.icon.biggest(src=require("../../images/project-submitted.svg"))

  label project submitted

footer.flex-grow.flex.column.end
  p Awaiting project review

  p.secondary You’ll hear back within 24 hours