@import "work/work-includes";

estimate-project {
  display         : block;

  h5 {
    font-weight: 500;
  }

  button {
    margin-top: 30px;
  }

  .success-message {
    h3 {
      padding: 0;
      margin-left: 10px;
    }

    .estimates {
      max-width: 300px;
      margin-top: 15px;

      &.code-estimates {
        max-width: 285px;
      }

      p {
        font-weight: 500;
      }
    }
  }

  hr {
    margin: 15px 0 0 0;
  }

  .cost-estimate {
    max-width: 600px;
  }

  form {
    .cost, .duration {
      margin-top: 15px;

      .fields {
        margin-top: 15px;

        p {
          margin-top: 0;
        }

        input {
          width: 100px;
        }

        > * {
          margin-left: 15px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}