@import "../../core/styles/combined";
@import "bourbon";

form {
  label {
    font-weight: bold;
  }

  .error {
    margin   : $margin-5 $margin-10;
    color    : $punch;
  }
}

form, input, textarea, button {
  margin-top: $margin-12;

  &:first-child {
    margin-top: 0;
  }
}

input, textarea {
  width     : 100%;
  padding   : $padding-9;
  border    : $border-1 solid $slate-gray;

  @include font-line(16);
}

input[type=checkbox] {
  width: initial;
}

input {
  padding-right: $padding-40;

  &.valid, &:valid {
    background-position: -39px -68px;
  }

  &:invalid {
    box-shadow: none;
  }

  &.invalid, &:focus:invalid {
    background-position: 36px -143px;
  }


  &:optional {
    background-position: 0 0;
  }

  @include placeholder {
    color: $slate-gray;
  }

  @include icon-sprite();
}

textarea {
  height: 150px;
}

button {
  width           : 100%;
  background-color: $apple;
  border-radius   : $border-radius-3;
  border          : none;
  color           : $white;
  height          : 40px;
  max-width       : 300px;

  @include roboto-bold();
  @include font-line(16);

  &.submit {
    display     : block;
    margin-left : auto;
    margin-right: auto;
  }
}
