@import "../../core/styles/combined";
@import "bourbon";

form {
  input {
    width              : 100%;
    padding            : $padding-9;
    padding-right      : $padding-40;
    box-sizing         : border-box;
    font-size          : $font-15;
    border             : $border-1 solid $slate-gray;
    margin-top         : $margin-18;

    &.valid, &:valid {
      background-position: -59px -68px;
    }

    &:first-child {
      margin-top: 0;
    }

    &.invalid, &:invalid {
      background-position: 16px -143px;
    }

    @include placeholder {
      color: $slate-gray;
    }

    @include icon-sprite();
  }

  button {
    width           : 100%;
    font-size       : $font-18;
    background-color: $celery;
    margin-top      : $margin-18;
    border-radius   : $border-radius-3;
    border          : none;
    color           : $white;
    height          : 40px;
  }

  .error {
    margin   : $margin-5 $margin-10;
    color    : $punch;
  }
}
