@import "../../core/styles/combined";

$header-height: 28px;

.layout-header {
  padding         : $padding-16 $padding-20;
  background-color: $white;
  font-family     : source sans pro;

  @include clearfix();

  > * {
    display    : block;
    line-height: $header-height;
  }

  .logo {
    display        : none;
    float          : left;
    width          : 56px;
    background-size: 56px $header-height;
    height         : $header-height;

    @include bg-image-ratio("../images/logo-appirio-icon.png", "../images/logo-appirio-icon-2x.png");
  }

  .login, .get-started {
    float      : right;
    line-height: $header-height;
    font-size  : $font-16;
  }

  .login {
    > * {
      display    : inline-block;
    }

    .icon {
      width              : 21px;
      height             : 23px;
      vertical-align     : middle;
      background-position: -379px 0px;

      @include icon-sprite();
    }

    .label {
      margin-left: $margin-10;
      color      : $pacific-blue;
      font-size  : $font-16;
    }
  }

  .get-started {
    display: none;
  }
}
