@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

$header-height: 50px;

.layout-header {
  padding         : 0 $padding-20;
  background-color: $white;
  border-bottom   : 2px solid $black;
  line-height     : $header-height;

  @include clearfix();

  > * {
    display       : inline-block;
    vertical-align: middle;
  }

  .logo {
    @include span-columns(8);
    font-size: 17px;
  }

  .secondary {
    @include span-columns(4);

    display   : inline-block;
    position  : relative;
    text-align: right;

    > * {
      display       : inline-block;
      vertical-align: middle;
    }

    $popup-max-height: 300px;

    button.message-notifications {
      margin-left     : 20px;
      position        : relative;

      svg {
        width: 26px;
      }

      @include source-sans();

      &:focus + .popup {
        max-height: $popup-max-height;
      }

      .notification {
        background-color: red;
        color           : white;
        position: absolute;
        top: -5px;
        right: 0;
        padding: 0px 4px;
        border-radius: 10px;
        font-size: 12px;
      }
    }

    .popup {
      border-bottom-right-radius: 2px;
      border-bottom-left-radius : 2px;
      z-index                   : 10;
      top                       : $header-height + 5px;
      right                     : 0;
      position                  : absolute;
      box-shadow                : 0 2px 2px silver;
      width                     : 280px;
      text-align                : initial;
      max-height                : 0px;
      overflow                  : hidden;

      @include transition (all 0.2s ease-in-out);
      @include font-line(12);

      &:hover {
        max-height: $popup-max-height;
      }

      threads {
        max-height: $popup-max-height;
        overflow  : scroll;
        position  : relative;
      }
    }

    .login {
      > * {
        display       : inline-block;
        vertical-align: middle;
      }

      .icon {
        width              : 21px;
        line-height        : 23px;
        background-position: -379px 0px;

        @include icon-sprite();
      }

      .label {
        margin-left: $margin-10;
        color      : $pacific-blue;

        @include font(20);
      }
    }
  }
}
