@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  position           : relative;
  min-height         : 100%;
  margin             : 0;
  padding            : 0;
  overflow-x         : hidden;
  overflow-y         : auto;
  -webkit-text-stroke: 1px transparent;
  background-color   : $limed-spruce;

  @include font-line(14);
  @include source-sans();
}


h1, h2, h3, h4, h5, h6 {
  margin-top: $margin-10;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  @include font-line(20);
}

h2 {
  color: $ship-gray;
  @include roboto-light();
}

h3 {
  color: $mine-shaft;
}

h4, h5, h6 {
  @include font-line(16);
}

.projects, .project-details {
  h2 {
    @include source-sans-light();
    @include font-line(15);
  }
  h4, h5, h6 {
    @include font-line(20);
  }
}

hr {
  border: none;
  margin: $margin-15 0;
  border-bottom: 2px solid $mercury;
}

time, em {
  font-style: italic;
}

a {
  color: black;
  cursor: pointer;
}

a.clean {
  text-decoration: none;
}

.outer-container {
  @include outer-container;
  background-color: $white;
}

.layout-main {

  &.projects, &.project-details {
    background-color: $olive-gray;
    button {
      @include source-sans();
      font-size: 18px;
    }
  }

  header {
    h1 {
      background-color: $all-ports;
      color           : $white;
      padding         : $padding-10 0;
      text-align      : center;
    }
  }

  main {
    padding: $padding-18 $padding-10;
  }

  aside {
    padding: $padding-18;
  }

  > main {
    @include main-restricted();
    width: 320px;
  }

  footer {
    margin: $margin-18;
  }


  .projectsHeading {
    height: 150px;
    background-color: $white;
    border-top: 30px solid $charcoal-gray;

    h1 {
      @include font-line(31);
      margin: 40px 40px 0px 40px;
    }
    div {
      text-align: center;
      margin-top: 8px;
    }
    button {
      border-radius: 0px;
      margin: 0px 2px;
      background-color: $white;
      color: $black;
    }
    .selected {
      background-color: $olive-gray;
    }

    .dropdown {
      $base-border-color: gainsboro !default;
      $base-border-radius: 3px !default;
      $base-line-height: 1.5em !default;
      $base-background-color: white !default;
      $dark-gray: #333 !default;
      $large-screen: em(860) !default;
      $base-font-color: $dark-gray !default;
      $dropdown-color: $base-font-color;
      $dropdown-description-color: lighten($dropdown-color, 40%);
      $dropdown-border: 1px solid silver;
      $dropdown-background: $base-background-color;
      $dropdown-background-hover: darken($dropdown-background, 3%);
      $dropdown-inner-border: 1px solid silver;
      $dropdown-height: 40px;
      $dropdown-padding: 1em;
      $dropdown-distance-from-menu: 50px;
      $dropdown-arrow-top-distance: 0;

      line-height: $base-line-height;
      width: 100%;

      .dropdown-container {
        display: inline-block;
        position: relative;
        text-align: center;
        width: 100%;
      }

      .dropdown-button {
        background: $dropdown-background;
        border-bottom-right-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
        border-top: $dropdown-border;
        border-right: $dropdown-border;
        border-bottom: $dropdown-border;
        border-left: $dropdown-border;
        cursor: pointer;
        float: right;
        font-size: 0.7em;
        font-weight: 800;
        line-height: $dropdown-height;
        margin-top: 5px;
        padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
        position: relative;

        @include media($large-screen) {
          font-size: 1em;
          padding: 0 ($dropdown-padding * 2.5) 0 ($dropdown-padding / 2);
        }

        &.type {
          float: left;
          margin-right: 10px;
          width: 150px;
        }
        &.count {
          float: left;
          width: 110px;
        }
        &.difficulty {
          width: 150px;
          float: left;
        }
      }

      .dropdown-button:hover {
        background-color: $dropdown-background-hover;
      }

      .dropdown-button:after {
        color: $base-font-color;
        content: "\25BE";
        display: block;
        position: absolute;
        right: $dropdown-padding;
        top: $dropdown-arrow-top-distance;
      }

      .dropdown-menu {
        @include transition (all 0.2s ease-in-out);
        background: $dropdown-background;
        border-radius: $base-border-radius;
        border: $dropdown-border;
        box-shadow: 0 2px 2px transparentize(black, 0.8);
        color: $dropdown-color;
        cursor: pointer;
        display: none;
        margin: 0 auto;
        overflow: show;
        padding: 0;
        position: absolute;
        top: $dropdown-distance-from-menu;
        width: 228px;
        z-index: 99999;

        &:before {
          @include position(absolute, 0 1em 0 0);
          color: $dropdown-background;
          font-size: 1.4em;
          pointer-events: none;
          text-shadow: 0 -2px 2px transparentize(black, 0.7);
          top: -0.7em;
        }

        &.type {
          width: 150px;
        }
        &.count {
          width: 105px;
          right: 73px;
        }
        &.difficulty {
          width: 150px;
        }
      }

      .dropdown-menu li {
        border-bottom: $dropdown-inner-border;
        color: $dropdown-color;
        list-style: none;
        padding: $dropdown-padding / 2;
      }

      .dropdown-menu li:hover {
        background: $dropdown-background-hover;
      }

      .dropdown-menu li:first-child {
        border-top-left-radius: $base-border-radius;
        border-top-right-radius: $base-border-radius;
      }

      .dropdown-menu li:last-child {
        border: none;
        border-bottom-left-radius: $base-border-radius;
        border-bottom-right-radius: $base-border-radius;
      }

      .show-menu {
        display: block;
      }
    }
  }
}

button {
  cursor: pointer;
}
