@import "../../core/styles/combined";
@import "work-styles";

.outer-container {
  @include outer-container;
  background-color: $white;
}

.layout-main {

  header {
    h1 {
      background-color: $all-ports;
      color           : $white;
      padding         : $padding-10 0;
      text-align      : center;
    }
  }

  main {
    padding: $padding-18 $padding-10;
  }

  aside {
    padding: $padding-18;
  }

  > main {
    @include main-restricted();
    width: 320px;
  }

  footer {
    margin: $margin-18;
  }
}

button {
  cursor: pointer;
}
