@import "../../core/styles/combined";

@font-face {
  font-family: bree;
  src: url(../fonts/bree-regular-webfont.woff);
}

@font-face {
  font-family: source sans pro;
  src: url(../fonts/source-sans-pro-regular.woff);
}

html {
  min-height: 100%;
  font-size: 10px;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-text-stroke: 1px transparent;
  font-family: source sans pro;
  background-color: $limed-spruce;
  font-size : $font-14;
}

h1, h2, h3, h4, h5, h6, header {
  font-family: bree;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $margin-10;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: $font-20;
}

h2 {
  font-size: $font-18;
}

p, input, a {
  font-family: source sans pro;
  line-height: $lh-120;
}


a {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.6);
}

.layout-main {
  background-color: $white;

  header {
    h1 {
      background-color: $all-ports;
      color           : $white;
      padding         : $padding-10 0;
      text-align      : center;
    }
  }

  main, aside {
    padding: $padding-18 $padding-10;
  }

  main {
    @include main-restricted();
  }

  footer {
    margin: $margin-18;
  }
}
