- jsFiles = []
- jsFiles.push("timeline/scripts/timeline.module")
- jsFiles.push("timeline/scripts/timeline.routes")
- jsFiles.push("timeline/scripts/timeline.controller")

- cssFiles = []
- cssFiles.push("timeline/styles/timeline")

- landscapeFiles = []

- desktopFiles = []
- desktopFiles.push("timeline/styles/timeline.desktop")
