- jsFiles = []
- jsFiles.push("timeline/scripts/timeline.module")
- jsFiles.push("timeline/scripts/timeline.routes")
- jsFiles.push("timeline/scripts/timeline.controller")

- cssFiles = []
- cssFiles.push("timeline/styles/timeline")
- cssFiles.push("timeline/styles/verify-email")
- cssFiles.push("timeline/styles/co-pilot")

- landscapeFiles = []
- landscapeFiles.push("timeline/styles/timeline.landscape")

- desktopFiles = []
- desktopFiles.push("timeline/styles/timeline.desktop")
