//- Login
- css.push("login/styles/login")
- landscapeCSS.push("login/styles/login.landscape")
- desktopCSS.push("login/styles/login.desktop")
- scripts.push("/src/client/app/login/scripts/login.module")
- scripts.push("/src/client/app/login/scripts/login.controller")
- scripts.push("/src/client/app/login/scripts/auth0-variables")
- scripts.push("/src/client/app/login/scripts/login.route")
- scripts.push("/src/client/app/login/scripts/login.service")
