//- Login
- cssFiles = []
- landscapeFiles = []
- desktopFiles = []
- jsFiles = []
- cssFiles.push("login/styles/login")
- landscapeFiles.push("login/styles/login.landscape")
- desktopFiles.push("login/styles/login.desktop")
- jsFiles.push("/src/client/app/login/scripts/login.module")
- jsFiles.push("/src/client/app/login/scripts/login.controller")
- jsFiles.push("/src/client/app/login/scripts/auth0-variables")
- jsFiles.push("/src/client/app/login/scripts/login.route")
- jsFiles.push("/src/client/app/login/scripts/login.service")
