layout-header.elevated(role="banner")

main.layout-main.login.flex.column.center("role"="main" layout-main=true flush-height=true)
  h1 Welcome back to appirio

  p.subheader.secondary Let's start building your app.  Login or create an account below to begin.

  p.error(ng-show="vm.error") We can't find an account with the email / password you entered. Please try again.


  form(ng-submit="vm.submit()" method="post")
    input.wide(type="text" ng-model="vm.username" required=true placeholder="username")

    input.wide(type="password" ng-model="vm.password" required=true placeholder="password")

    button.action(type="submit") login

    p.reminder Don't have an account? <a ui-sref="register">Sign Up</a>

layout-footer