@import "../../core/styles/combined";

.layout-main.project-details {
  @include main-restricted-desktop();

  main {
    width: 100%;

    article {
      h3 {
        margin-top: $margin-20;
      }
    }
  }

  @include clearfix();
}

