h2 Your Estimate

h3 ${{vm.getPrice()}}

form
  p This is our closest estimate for your project based on the information you’ve provided today. When you click "Launch Project," we'll process your info and provide a formal project proposal.

  input#submit-work-accept-terms(type="checkbox", ng-model="vm.termsAccepted")

  label(for="submit-work-accept-terms") Accept
    a(href="#") {{ ' ' + 'Terms and Conditions' }}

  button(ng-click="vm.launch()") SUBMIT PROJECT
