button.action(ng-click='vm.confirmRanks()' ng-if="vm.confirmRanksEnabled" ng-disabled="!vm.canUpdate") Confirm your selections

button.action(ng-click='vm.confirmComments()' ng-if="vm.confirmCommentsEnabled" ng-disabled="!vm.canUpdate") Confirm final fixes comments