file-detail-slide.flex.column(
  ng-if            = "vm.hasSubmission"
  files            = "vm.files"
  starting-file    = "vm.startingFile"
  title            = "{{vm.submissionDate}}"
  submitter-avatar = "{{vm.submitterAvatar}}"
  submitter-handle = "{{vm.submitterHandle}}"
  submission-number = "{{vm.submissionNumber}}"
  user-type        = "{{vm.userType}}"
  status           = "{{vm.status}}"
  messages         = "vm.messages"
  on-file-change   = "vm.onFileChange(file)"
  toggle-comments  = "vm.toggleComments()"
  send-message     = "vm.sendMessage()"
  show-messages    = "vm.showMessages"
  can-comment      = "vm.canComment"
  new-message      = "vm.newMessage"
  ranks-confirmed  = "vm.customerConfirmedRanks"
  messages-loading = "vm.messagesLoading"
)
