ul.submission-winner-cards.flex.wrap
  li(fitted-width='fitted-width', ng-repeat='rank in vm.ranks')
    submission-winner-card.light-bg.elevated-bottom(name-text='{{ rank.handle }}', avatar-url='{{ rank.avatarUrl }}', rank='{{ rank.label }}', belongstouser='{{ rank.belongsToUser }}')