loader(ng-hide='vm.loaded')

.all-submissions
  a(ui-sref='step({projectId: vm.projectId, stepId: vm.stepId})') All Submissions

ul.header.flex.middle
  li.flex-grow.submitter
    label(ng-if="!vm.customerConfirmedRanks") {{ vm.submissionNumber }}

    p.secondary &nbsp;({{vm.submission.sourceId}})

    avatar(ng-if="vm.customerConfirmedRanks" avatar-url='{{ vm.submission.submitter.avatar }}')

    .name(ng-if="vm.customerConfirmedRanks") {{ vm.submission.submitter.handle }}

  li.confirm-button
    confirm-button(ng-if="vm.statusValue > 3 && (vm.stepType == 'completeDesigns') && vm.customerConfirmedRanks" project-id='{{ vm.projectId }}' step-id='{{ vm.stepId }}' user-type='{{ vm.userType }}' permissions="vm.permissions")

  li
    rank-dropdown(project-id='{{ vm.projectId }}', step-id='{{ vm.stepId }}', submission-id='{{ vm.submissionId }}', user-type='{{ vm.userType }}' permissions="vm.permissions")

  li.download(ng-class="{invisible: !vm.submission.downloadUrl}")
    a(href='{{ vm.submission.downloadUrl }}', target='_blank')
      .icon.download.small

hr

file-grid(files='vm.submission.files')
