@import "work-includes";

@import "neat";

.layout-main.getting-started {
  .jumbotron {
    display: block;

    @include bg-cover("../images/homeBanner.jpg");
    @include clearfix;

    p {
      color     : #fff;
      background: rgba(51, 62, 72, 0.6);
      text-align: center;
      margin: 400px 0 20px 0;

      @include span-columns(10);
      @include shift(1);
      @include font-line(50px);
    }
  }

  .learn-more {
    article {
      @include span-columns(4);
      margin-top: 0;
    }
  }
}
