@import "core/styles/combined";

.getting-started-page {

  .jumbotron {
    line-height     : 484px - ($padding-30 * 2);
    background-color: purple;
    padding         : $padding-30;

    h1 {
      display       : inline-block;
      line-height   : normal;
      vertical-align: bottom;
      color         : $white;
      font-size     : $font-50;
      text-align    : center;
    }
  }

  .choose-build {
    margin-top: $margin-84;
    text-align: center;

    h2 {
      font-size: $font-36;
      color    : $limed-spruce;
    }

    ul.builds {
      margin-top: $margin-63;

      li {
        display: inline-block;
        padding: 0 $padding-40;

        .icon {
          width           : 220px;
          height          : 220px;
          background-color: blue;
        }

        .label {
          margin-top: $margin-22;
          font-size : $font-20;
          color     : $limed-spruce;
        }
      }
    }
  }

  .learn-more {
    background-color: $limed-spruce;
    @include clearfix();

    article {
      width  : 290px;
      display: inline-block;
      padding: 0 $padding-20;

      header {
        font-size: $font-28;
        color    : $white;
      }
    }
  }
}
