@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

.layout-main.getting-started {
  main {
    width: 100%;
  }

  .jumbotron {
    display    : block;
    line-height: 484px - ($padding-30 * 2);

    @include bg-cover("../images/jumbo.jpg");

    p {
      @include span-columns(10);
      display       : inline-block;
      line-height   : normal;
      vertical-align: bottom;
      color         : $white;
      text-align    : center;

      @include font-line(50);
    }
  }

  .learn-more {
    article {
      @include span-columns(4);
      margin-top: 0;
    }
  }
}
