@import "../../core/styles/combined";

.layout-main.getting-started {
  main {
    width: 100%;
  }

  .jumbotron {
    display    : block;
    line-height: 484px - ($padding-30 * 2);
    padding    : $padding-30;

    @include bg-cover("../images/jumbo.jpg");

    p {
      display       : inline-block;
      line-height   : normal;
      vertical-align: bottom;
      color         : $white;
      font-size     : $font-50;
      text-align    : center;
      line-height   : $lh-1;
    }
  }

  .choose-build {
    h1 {
      background-color: $white;
      font-size: $font-36;
      color    : $limed-spruce;
    }

    ul.builds {
      li {
        $diameter: 174px;

        padding   : 0 $padding-40;
        width     : $diameter;

        .icon {
          width      : $diameter;
          height     : $diameter;
          line-height: $diameter;
        }

        .label {
          margin-top : $margin-22;
          font-size  : $font-20;
          line-height: $lh-120;
        }
      }
    }
  }

  .learn-more {
    text-align: center;

    article {
      width     : 200px;
      display   : inline-block;
      padding   : 0 $padding-20;
      margin-top: 0;


      header {
        a {
          font-size: $font-28;
        }
      }

      p {
        font-size  : $font-18;
        line-height: $lh-133;
      }
    }
  }
}
