- jsFiles = []
- jsFiles.push("/src/client/app/project-details/scripts/project-details.module")
- jsFiles.push("/src/client/app/project-details/scripts/project-details.service")
- jsFiles.push("/src/client/app/project-details/scripts/project-details.controller")
- jsFiles.push("/src/client/app/project-details/scripts/project-details.routes")
- jsFiles.push("/src/client/app/project-details/scripts/statusModal.directive")
- jsFiles.push("/src/client/app/project-details/details-features/scripts/challenges.controller")

//- filters
- jsFiles.push("/src/client/app/project-details/scripts/filters/status.filter")
- jsFiles.push("/src/client/app/project-details/scripts/filters/statusButton.filter")
- jsFiles.push("/src/client/app/project-details/scripts/filters/cutOff.filter")
- jsFiles.push("/src/client/app/project-details/scripts/filters/requestType.filter")
- jsFiles.push("/src/client/app/project-details/scripts/filters/capitalize.filter")

- cssFiles = []
- cssFiles.push("project-details/styles/project-details")

- landscapeFiles = []

- desktopFiles = []
- desktopFiles.push("project-details/styles/project-details.desktop")

