@import "../../core/styles/combined";

.layout-main.create-account {
  text-align: center;

  main {
    @include main-restricted();
  }

  form {
    margin-top: $margin-10;

    .error {
      text-align: left;
    }
  }
}
