layout-header.elevated(role="banner" work-id="{{ vm.workId }}" user-type="copilot")

layout-project-nav(work-id="{{ vm.workId }}" user-type="copilot")

main.messaging.layout-main.flex.column("role"="main" layout-main=true flush-height="lock" )
  h1 Messaging

  messaging.flex.column.flex-grow.middle(
    work-id="{{ vm.workId }}"
    thread-id="{{ vm.threadId }}"
    subscriber-id="{{ vm.subscriberId }}"
  )

layout-footer
