layout-header(role="banner" work-id="{{ vm.id }}" user-type="copilot")

layout-project-nav(work-id="{{ vm.id }}" user-type="copilot")

main.layout-main.project-page("role"="main" layout-main=true flush-height=true)
  h2 Project requirements

  project-details(project-id="{{ vm.id }}" copilot-id="{{ vm.copilotId }}")

layout-footer
