layout-header(role="banner" work-id="{{ vm.projectId }}" user-type="copilot")

layout-project-nav(work-id="{{ vm.projectId }}" user-type="copilot")

main.layout-main("role"="main" layout-main=true)
  h1 Manage Project Steps

  manage-steps(project-id="vm.projectId" store="vm.store")

layout-footer
