layout-header.elevated(role="banner" project-id="{{ vm.id }}")

layout-project-nav(project-id="{{ vm.id }}")

main.layout-main.project-details("role"="main" layout-main=true flush-height=true)
  h1 Project requirements

  p To many changes to your project requirements, contact your co-pilot.

  project-details(project-id="{{ vm.id }}")

layout-footer
