layout-header.elevated(role="banner" work-id="{{ vm.workId }}" user-type="copilot")

layout-project-nav(work-id="{{ vm.workId }}" user-type="copilot")

main.layout-main.project-page("role"="main" layout-main=true flush-height=true)
  h1 Status Report

  detail-status-report(work-id="{{ vm.workId }}" report-id="{{vm.reportId}}")

layout-footer