- jsFiles = []
- jsFiles.push("/manage/scripts/manage.module")
- jsFiles.push("/manage/scripts/manage.routes")
- jsFiles.push("/manage/scripts/manage.controller")
- jsFiles.push("/manage/scripts/manage.service")

- cssFiles = []
- cssFiles.push("/manage/styles/manage")

- landscapeFiles = []
- landscapeFiles.push("/manage/styles/manage.landscape")

- desktopFiles = []
- desktopFiles.push("/manage/styles/manage.desktop")
