- jsFiles = []
- jsFiles.push("/src/client/app/manage/scripts/manage.module")
- jsFiles.push("/src/client/app/manage/scripts/manage.routes")
- jsFiles.push("/src/client/app/manage/scripts/manage.controller")
- jsFiles.push("/src/client/app/manage/scripts/manage.service")

- cssFiles = []
- cssFiles.push("manage/styles/manage")

- landscapeFiles = []
- landscapeFiles.push("manage/styles/manage.landscape")

- desktopFiles = []
- desktopFiles.push("manage/styles/manage.desktop")
