<section class="mainbar">
  <section class="matter">
    <div id="createProject" class="container">
      <div class="row">
        <form name="form" class="wviolet">
          <div id="backgroundInformation" class="createContainer centered">
            <h3 ng-show="!form.$valid && form.$submitted" class="error">
              There were some problems with your submission. Please see below.
            </h3>
            <h3 ng-show="vm.emptyError && form.$pristine && form.description.length == 0" class="error">
              Please complete the form.
            </h3>
            <h3>Background Information</h3>
            <h4>Briefly describe what your app does</h4>
            <br />
            <textarea name="description" ng-model="vm.newProject.description" required="" maxlength=250 />
            <div class="validation" ng-messages="form.description.$error" ng-show="!form.description.$pristine">
              <span ng-message="required">This field is required.</span>
            </div>
            <h4>If you have an existing website, please list it here <span class="ital">(optional)</span></h4>
            <input name="website" type="url" ng-model="vm.newProject.website" />
            <div class="validation" ng-messages="form.website.$error">
              <span ng-message="url">URL must be valid.</span>
            </div>
          </div>
          <div id="visualStyle" class="createContainer centered">
            <h3>Visual Style</h3>
            <h4>What best describes the look and feel you'd like for your app?</h4>
            <table class="table" style="width:400px">
              <tr>
                <td>
                  Minimal
                </td>
                <td>
                  <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleMinimalComplex" />
                </td>
                <td>
                  Complex
                </td>
              </tr>
              <tr>
                <td>
                  Modern
                </td>
                <td>
                  <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleModernClassic" />
                </td>
                <td>
                  Classic
                </td>
              </tr>
              <tr>
                <td>
                  Playful
                </td>
                <td>
                  <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.stylePlayfulSerious" />
                </td>
                <td>
                  Serious
                </td>
              </tr>
              <tr>
                <td>
                  Loud
                </td>
                <td>
                  <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleLoudSubtle" />
                </td>
                <td>
                  Subtle
                </td>
              </tr>
              <tr>
                <td>
                  Luxury
                </td>
                <td>
                  <input type="range" style="width: 150px;" max="6" ng-model="vm.newProject.styleLuxuryBudget" />
                </td>
                <td>
                  Budget
                </td>
              </tr>
            </table>
            <h4>What ideas do you have for the style/theme of your app? <span class="ital">(optional)</span></h4>
            <textarea name="styleIdeas" ng-model="vm.newProject.styleIdeas" maxlength=250 ></textarea>
          </div>
          <div id="contentDetails" class="createContainer centered">
          <h3>Content Details</h3>
            <h4>What is the name of your project?</h4>
            <input name="name" type="text" ng-model="vm.newProject.name" required />
            <div class="validation" ng-messages="form.name.$error" ng-show="!form.name.$pristine">
              <span ng-message="required">This field is required.</span>
            </div>
            <h4>How many screens would you like designed?</h4>
            <input name="screens" type="radio" name="1" ng-value="1" ng-model="vm.newProject.screens" required />
            1 screen
            <br />
            <input name="screens" type="radio" name="2" ng-value="2" ng-model="vm.newProject.screens" required />
            2 screens
            <br />
            <input name="screens" type="radio" name="3" ng-value="3" ng-model="vm.newProject.screens" required />
            3 screens
            <br />
            <input name="screens" type="radio" name="4" ng-value="4" ng-model="vm.newProject.screens" required />
            4 screens
            <br />
            <input name="screens" type="radio" name="5" ng-value="5" ng-model="vm.newProject.screens" required />
            5 screens
            <br />
            <input name="screens" type="radio" name="6" ng-value="6" ng-model="vm.newProject.screens" required />
            Other
            <div class="validation" ng-messages="form.radio.$error" ng-show="!form.$submitted">
              <span ng-message="required">This field is required.</span>
            </div>
            <h4>Describe the screens and the main work flows for your app <span class="ital">(optional)</span></h4>
            <textarea name="screensDescription" ng-model="vm.newProject.screensDescription" maxlength=250 ></textarea>
          </div>
          <div id="other" class="createContainer centered">
            <h3>Other</h3>
            <h4>Please provide any links to websites that help convey what you're looking for <span class="ital">(optional)</span></h4>
            <ul>
              <li ng-repeat="link in vm.newProject.links">
                {{link}}
              </li>
            </ul>
            <input name="link" type="url" ng-model="vm.newUrl" />
            <div class="validation" ng-messages="form.link.$error" minlength=1 ng-show="!form.link.$pristine">
              <span ng-message="url">URL must be valid.</span>
            </div>
            <a href="javascript:;" ng-click="vm.addUrl()">+</a>
            <h4>Do you have any documents that may help us (logos, design guides, branding guides, sketches, etc.)? <span class="ital">(optional)</span></h4>
            <ul>
              <li ng-repeat="file in vm.newProject.files">
                {{file}}
              </li>
            </ul>
            <input type="text" ng-model="vm.newFile" />
            <a href="javascript:; "ng-click="vm.addFile()">+</a>
            <h4>Additional details <span class="ital">(optional)</span></h4>
            <textarea name="additionalDetails" ng-model="vm.newProject.additionalDetails" maxlength=250 ></textarea>
          </div>
        </div>
      </form>
      <button ng-click="vm.next()" class="btn next">Next</button>
    </div>
  </section>
</section>
