.heading
  h1 Manage Projects
  button(href="/submit-work") New Project
  hr

ul
  li(ng-repeat= "project in vm.workRequests")
    div
      header
        h4 {{project.name}}
        span.type {{project.requestType}}
      .middle
        img
      .bottom(ng-class="project.class")
        img.checkmark(ng-if="project.checkmark", src="manage/images/{{project.checkmark}}")
        span.status {{project.message}}
        br
        span.action(ng-bind-html="project.action")
