.message(ng-if="vm.showMessage")
  img.checkmark-green(src="manage/images/check-solid-green.svg")
  span Your project has been launched.  Your co-pilot will contact you within 1 business day.

.heading
  h1 Manage Projects
  button(ng-click="vm.newProject()") New Project
  hr

ul
  li(ng-repeat= "project in vm.workRequests", ng-click="vm.go(project)")
    div
      header
        h4 {{project.name}}
        span.type {{project.requestType}}
      .middle
        img(src="manage/images/missing-image.svg", class="missing")
      .bottom(ng-class="project.class")
        img.checkmark(ng-if="project.checkmark", src="manage/images/{{project.checkmark}}")
        span.status {{project.message}}
        br
        span.action(ng-bind-html="project.action")
