header(role="heading")
  h1 {{vm.workRequest.title}}

p Name: {{vm.workRequest.name}}

p Summary: {{vm.workRequest.summary}}

p Request Type: {{vm.workRequest.requestType}}

p Competitor Apps: {{vm.workRequest.competitorApps.join(', ')}}

p Usage Description: {{vm.workRequest.usageDescription}}

p Cost Estimate: {{vm.workRequest.costEstimate}}

div Features
  ul
    li(ng-repeat="feature in vm.workRequest.features") {{feature.name}}

