@import "../../core/styles/combined";

.layout-main.login {
  text-align: center;

  form {
    @include main-restricted();

    .error {
      text-align: left;
    }
  }

  .forgot, .new {
    display   : inline-block;
    text-align: center;
    margin-top: $margin-18;
    width     : 50%;
  }
}
