@import "../../core/styles/combined";

.layout-main.login {
  text-align: center;

  > * {
    width  : 280px;
    margin : 0 auto;
  }

  form {
    .error {
      text-align: left;
    }
  }

  footer {
    .forgot, .new {
      margin-top: $margin-20;
      display   : inline-block;
      text-align: center;
      width     : 50%;
    }
  }
}
