@import "../../core/styles/combined";

.layout-modal.login {
  $width: 568px;
  $height: 320px;

  width      : $width - ($padding-20 * 2);
  height     : $height - ($padding-15 * 2);
  margin-left: -$width / 2;
  margin-top : -$height / 2;

}
