- jsFiles = []
- jsFiles.push("/src/client/app/submit-work/submit-work.module")
- jsFiles.push("/src/client/app/submit-work/nav/submit-work-nav.directive")
- jsFiles.push("/src/client/app/submit-work/about-project/about-project.route")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/name.controller")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/brief.controller")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/type.controller")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/competitors.controller")

- cssFiles = []
- cssFiles.push("submit-work/submit-work")
- cssFiles.push("submit-work/nav/submit-work-nav")

- landscapeFiles = []

- desktopFiles = []
- desktopFiles.push("submit-work/submit-work.desktop")
