- jsFiles = []
- jsFiles.push("/src/client/app/submit-work/scripts/submit-work.module")
- jsFiles.push("/src/client/app/submit-work/scripts/submit-work.routes")
- jsFiles.push("submit-work/scripts/submit-work.controller")
- jsFiles.push("/src/client/app/submit-work/scripts/submit-work.service")
- jsFiles.push("/src/client/app/submit-work/scripts/nav.service")
- jsFiles.push("/src/client/app/submit-work/scripts/scroll-state.directive")
- jsFiles.push("/src/client/app/submit-work/aside/submit-work-aside.directive")
- jsFiles.push("/src/client/app/submit-work/aside/submit-work-aside.filter")
- jsFiles.push("/src/client/app/submit-work/aside/estimate.filter")
- jsFiles.push("/src/client/app/submit-work/about-project/about-project.route")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/name.controller")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/brief.controller")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/type.controller")
- jsFiles.push("/src/client/app/submit-work/about-project/scripts/competitors.controller")
- jsFiles.push("/src/client/app/submit-work/users/scripts/users.controller")
- jsFiles.push("/src/client/app/submit-work/users/users.route")
- jsFiles.push("/src/client/app/submit-work/features/features.route")
- jsFiles.push("/src/client/app/submit-work/features/scripts/features.controller")
- jsFiles.push("/src/client/app/submit-work/designs/scripts/designs.controller")
- jsFiles.push("/src/client/app/submit-work/launch/launch.route")
- jsFiles.push("/src/client/app/submit-work/launch/scripts/estimate.controller")
- jsFiles.push("/src/client/app/submit-work/launch/scripts/success.controller")
- jsFiles.push("/src/client/app/submit-work/next/next.directive")

- cssFiles = []
- cssFiles.push("submit-work/submit-work")
- cssFiles.push("submit-work/aside/submit-work-aside")
- cssFiles.push("submit-work/about-project/styles/name")
- cssFiles.push("submit-work/about-project/styles/type")
- cssFiles.push("submit-work/about-project/styles/brief")
- cssFiles.push("submit-work/about-project/styles/elevator-pitch")
- cssFiles.push("submit-work/about-project/styles/competitors")
- cssFiles.push("submit-work/users/styles/users")
- cssFiles.push("submit-work/features/styles/features")
- cssFiles.push("submit-work/launch/styles/success")
- cssFiles.push("submit-work/launch/styles/estimate")
- cssFiles.push("submit-work/designs/styles/designs")
- cssFiles.push("submit-work/launch/styles/success")

- landscapeFiles = []
- landscapeFiles.push("submit-work/features/styles/features.landscape")
- landscapeFiles.push("submit-work/launch/styles/success.landscape")

- desktopFiles = []
- desktopFiles.push("submit-work/submit-work.desktop")
- desktopFiles.push("submit-work/features/styles/features.desktop")
- desktopFiles.push("submit-work/aside/submit-work-aside.desktop")
- desktopFiles.push("submit-work/about-project/styles/brief.desktop")

