@import "../core/styles/combined";

.layout-main.submit-work {
  @include main-restricted-desktop();

  main {
    width: 75%;
    float: left;
  }

  aside {
    width: 25%;
    float: left;

    &.fixed {
      position: fixed;
      right: 0;
      top: 0;
    }
  }

  @include clearfix();
}
