- views = []
- views.push('name')
- views.push('type')
- views.push('brief')
- views.push('competitors')
- views.push('users')
- views.push('features')
- views.push('designs')
- views.push('estimate')

header

main("ng-scroll-state"="submit-work")
  - each view in views
    div(id="starting-line-#{view}")

    article.state(ui-view=view, class=view, state=view)


aside#submit-work-aside("ng-submit-work-aside"=true)
