@import "../core/styles/combined";

.layout-main.submit-work {
  main {
    text-align: center;
    max-width: 784px;

    article {
      margin-top: $margin-18;

      &:first-child {
        margin-top: 0;
      }

      form {
        margin-top: $margin-12;

        button.submit {
          width: 280px;
        }
      }
    }
  }

  aside {
    background-color: $mercury;

    .project {
      .name {
        font-weight: bold;
      }
      .type {

      }
    }
  }
}
