@import "../core/styles/combined";

.layout-main.submit-work {
  @include main-restricted-desktop();

  main {
    width: 75%;
    float: left;

    article {
      h3 {
        margin-top: $margin-20;
      }
    }
  }

  aside {
    width: 25%;
    position: relative;
    overflow: hidden;
    float: left;

    &.fixed {
      .fixed-wrapper {
        position: fixed;
        top: $margin-18;
      }

      height  : 100%;
    }
  }

  @include clearfix();
}
