@import "../core/styles/combined";
@import "bourbon";

.layout-main.submit-work {
  background-color: $mercury;

  header {
    height: 2px;
    background-color: $black;
  }

  main {
    background-color: $white;
    text-align      : center;
    max-width       : 784px;

    #starting-line-name {
      position: absolute;
      top: 0;
    }

    .starting-line, .finish-line {
      min-height: 1px;
      margin-bottom: 100px;
    }

    article {
      opacity   : 0;

      > * {
        margin-top: $margin-30;
      }

      @include transition(opacity 0.3s ease-in 0s);

      &.state-active {
        opacity: 1;
        @include transition(opacity 0.3s ease-in 0s);
      }

      form {
        button.submit {
          width: 280px;
          // Need to fix this due to button being in next tag
          margin-top: 30px;
        }
      }

      > button {
        width: 280px;
      }
    }
  }
}
