@import "../core/styles/combined";
@import "bourbon";

.layout-main.submit-work {
  background-color: $mercury;

  main {
    background-color: $white;
    text-align      : center;
    max-width       : 784px;

    article {
      margin-top: 150px;
      opacity   : 0.2;
      @include transition(opacity 0.3s ease-in 0s);

      &.state-active {
        opacity: 1;
        @include transition(opacity 0.3s ease-in 0s);
      }

      &:first-child {
        margin-top: 0;
      }

      form {
        margin-top: $margin-12;

        button.submit {
          width: 280px;
        }
      }
    }
  }

  aside {
    background-color: $mercury;

    .project {
      .name {
        font-weight: bold;
      }
      .type {

      }
    }
  }
}
