div(ng-show="!vm.success")
  h1 forgot password

  p.secondary Enter your email and we'll send you a link to reset your password.

  p.error(ng-show="vm.error") {{ vm.error }}

  form(ng-submit="vm.submit()")
    input.widest(type="email" ng-model="vm.email" required=true placeholder="email" autofocus=true)

    button.action(type="submit") get reset link

p.success(ng-show="vm.success") Thanks, we've emailed you a reset link. Please check your inbox. If you still need help, please contact us at <a href="mailto:support@topcoder.com">support@topcoder.com</a>