div(ng-show="!vm.success")
  h1 reset password

  p.secondary Please enter your new password.

  p.error(ng-show="vm.error") {{ vm.error }}

  form(ng-submit="vm.submit()")
    input.widest(type="password" ng-model="vm.password" required=true placeholder="New Password"  autofocus=true)

    button.action(type="submit") reset password

p.success(ng-show="vm.success") Your password has been updated.
