loader(ng-if="vm.loading")

div(ng-show="!vm.success")
  h1 TopCoder SSO

  p.secondary Please enter the identifier (username or password) you use to login with your SSO provider.

  p.error(ng-show="vm.error") {{ vm.error }}

  form(ng-submit="vm.submit()")
    input.widest(type="text" ng-model="vm.emailOrHandle" required=true placeholder="Email or handle" autofocus=true)

    button.action(type="submit") Continue

p.success(ng-show="vm.success") Redirecting to {{ vm.org }} login...