@import "../../../core/styles/combined";

.layout-main.submit-work.features {
  main {
    ul {
      li {
        margin-top: $margin-18;

        input {
          position: absolute;
        }

        label {
          font-weight: bold;
          display: block;
          margin-left: $margin-22;
        }

        .desc, .example {
          margin: $margin-5 0 0 $margin-22;
        }

        .example {
          display: block;
          font-size: $font-12;
        }
      }
    }

    > * {
      @include main-restricted();
    }
  }

  .layout-modal.example {
    $width: 320px;
    $height: 480px;

    padding    : $padding-15 $padding-20;
    width      : $width - ($padding-20 * 2);
    height     : $height - ($padding-15 * 2);
    margin-left: -$width / 2;
    margin-top : -$height / 2;

  }
}
