@import "../../../core/styles/combined";

.layout-main.submit-work .features {
  .features {
    li {
      width         : 50%;
      display       : inline-block;
      vertical-align: top;
      margin-top    : $margin-18;

      &:nth-child(1), &:nth-child(2) {
        margin-top: 0;
      }
    }
  }

  > form {
    @include main-restricted-desktop();
  }
}
