@import "../../../core/styles/combined";

.layout-main.submit-work .features {
  ul {
    li {
      text-align: left;
      margin-top: $margin-18;
      margin-left: $margin-22;

      input[type="checkbox"]{
        position: absolute;
        margin-left: -$margin-22;
      }

      .label-example {
        a {
          @include font-line(10);
          margin-left: $margin-5;
        }
      }

      .desc{
        margin: $margin-5 0 0 0;
      }
    }
  }

  .new-feature {
    @include main-restricted();
  }
}
