- jsFiles = []
- jsFiles.push("view-work/manage/scripts/manage.module")
- jsFiles.push("view-work/manage/scripts/manage.routes")
- jsFiles.push("view-work/manage/scripts/manage.controller")

- cssFiles = []
- cssFiles.push("view-work/manage/styles/manage")

- landscapeFiles = []
- landscapeFiles.push("view-work/manage/styles/manage.landscape")

- desktopFiles = []
- desktopFiles.push("view-work/manage/styles/manage.desktop")
