@import "../../core/styles/combined";
@import "bourbon";

.layout-main.login {
  .reminder {
  	text-align: center;
  	margin-top: 10px;
  	color: #5F5F5F;
  }

  input {
  	margin-top: 2px;
  	margin-bottom: 20px;
  }
}
