@import "work-includes";

.layout-main.submit-work {
  width: 100%;

  main {
    width: 75%;
    float: left;

    article {
      h3 {
        margin-top: 20px;
      }
    }
  }

  @include clearfix();
}
