style.
  /* This helps the ng-show/ng-hide animations start at the right place. */
  /* Since Angular has this but needs to load, this gives us the class early. */
  .overlay {
    display: block;
  }

.layout-modal.create-account
  h1 Create an account

  a.close(href="#")

  form
    input(type="email", placeholder="Email address", required=true)

    p.error Email address is required

    input(type="password", placeholder="Password")

    p.error Password is required

    input(type="password", placeholder="Confirm Password")

    p.error Confirm password is required

    button.submit(type="submit") Register and sign in

  a.existing-user(href="#") Already have an account? Log in

