header
  h1 Welcome to Topcoder

main
  h2 Begin building your app now. Start by creating an account.

  form
    input(type="email", placeholder="Email address", required=true)

    p.error Email address is required

    input(type="password", placeholder="Password", required=true)

    p.error Password is required

    input(type="password", placeholder="Confirm Password", required=true)

    p.error Confirm password is required

    button.submit(type="submit") Create Account

