header
  h1 Welcome to Topcoder

main
  h2 Begin building your app now. Start by creating an account.

  form
    input.valid(type="email", placeholder="Email address", required=true)

    p.error Email address is required

    input.invalid(type="password", placeholder="Password")

    p.error Password is required

    input.valid(type="password", placeholder="Confirm Password")

    p.error Confirm password is required

    button.submit(type="submit") Create Account

