style.
  /* Need to remove this when integrating with logic */
  .overlay {
    display: block;
  }

.layout-modal.create-account
  h1 Create an account

  a.close(href="#")

  form
    input.valid(type="email", placeholder="Email address", required=true)

    p.error Email address is required

    input.invalid(type="password", placeholder="Password")

    p.error Password is required

    input.valid(type="password", placeholder="Confirm Password")

    p.error Confirm password is required

    button.submit(type="submit") Register and sign in

  a.existing-user(href="#") Already have an account? Log in

