- var css          = []
- var landscapeCSS = []
- var desktopCSS   = []
- var bowercss     = []

- css.push("/styles/main")
- css.push("/styles/manage")
- css.push("/styles/messaging")
- css.push("/styles/copilot")
- css.push("/styles/404")
- css.push("/styles/submissions")

- css.push('/bower_components/appirio-tech-ng-timeline/dist/main')
- css.push('/bower_components/appirio-tech-ng-ui-components/dist/main')
- css.push('/bower_components/appirio-tech-ng-submissions/dist/main')
- css.push('/bower_components/appirio-tech-ng-messaging/dist/main')
- css.push('/bower_components/appirio-tech-ng-work-layout/dist/main')
- css.push('/bower_components/appirio-tech-ng-projects/dist/main')
- css.push('/bower_components/appirio-tech-ng-submit-work/dist/main')
- css.push('/bower_components/appirio-tech-ng-status-report/dist/main')
- css.push('/bower_components/appirio-tech-ng-login-reg/dist/main')

= "\n"
// build:css /styles/lib.css
= "\n"
each path in bowercss
  link(href=path + ".css", rel="stylesheet")
  = "\n"
// endbuild
= "\n"

// build:css /styles/app.css
= "\n"
each path in css
  link(href=path + ".css", rel="stylesheet")
  = "\n"
// endbuild
= "\n"

// build:css /styles/mobile-landscape.css media="(min-width: 568px)"
= "\n"
each path in landscapeCSS
  link(href=path + ".css", rel="stylesheet", media="(min-width: 568px)")
  = "\n"
// endbuild
= "\n"

// build:css /styles/desktop.css media="(min-width: 767px)"
= "\n"
each path in desktopCSS
  link(href=path + ".css", rel="stylesheet", media="(min-width: 767px)")
  = "\n"
// endbuild
= "\n"
