- var scripts = []
- var bowers = []

- scripts.push('/app.module')
- scripts.push('/app-config')
- scripts.push('/app-run')
- scripts.push('/scripts/templates')
- scripts.push('/scripts/constants')
- scripts.push('/scripts/messaging.controller')
- scripts.push('/scripts/timeline.controller')
- scripts.push('/scripts/submissions.controller')
- scripts.push('/scripts/submission-detail.controller')
- scripts.push('/scripts/file-detail.controller')
- scripts.push('/scripts/final-fixes.controller')
- scripts.push('/scripts/submit-work-page.controller')
- scripts.push('/scripts/generic-submissions-page.controller')
- scripts.push("/auth/scripts/auth.module")
- scripts.push("/auth/scripts/auth.routes")
- scripts.push("/auth/scripts/login.controller")
- scripts.push("/auth/scripts/login.directive")
- scripts.push("/auth/scripts/register.controller")
- scripts.push("/scripts/manage.controller")
- scripts.push('/bower_components/appirio-tech-ng-work-layout/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-file-upload/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-timeline/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-auth/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-ui-components/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-submissions/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-messaging/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-projects/dist/main')
- scripts.push('/bower_components/appirio-tech-copilot/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-submit-work/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-api-services/dist/main')
- scripts.push('/scripts/projects.routes')
- scripts.push('/scripts/project-details.routes')

- bowers.push('/bower_components/jquery/dist/jquery')
- bowers.push('/bower_components/angular/angular')
- bowers.push('/bower_components/angular-resource/angular-resource')
- bowers.push('/bower_components/angular-sanitize/angular-sanitize')
- bowers.push('/bower_components/moment/moment')
- bowers.push('/bower_components/angular-ui-router/release/angular-ui-router')
- bowers.push("/bower_components/angular-scroll/angular-scroll")
- bowers.push('/bower_components/auth0.js/build/auth0')
- bowers.push('/bower_components/angular-animate/angular-animate')
- bowers.push('/bower_components/angular-cookies/angular-cookies')
- bowers.push('/bower_components/a0-angular-storage/dist/angular-storage')
- bowers.push('/bower_components/auth0-angular/build/auth0-angular')
- bowers.push('/bower_components/ap-newrelic/ng-route-timing/dist/newrelic')
- bowers.push('/bower_components/angular-jwt/dist/angular-jwt')
- bowers.push('/bower_components/angular-dragula.js/dist/angular-dragula')
- bowers.push('/bower_components/appirio-tech-ng-api-services/dist/main')

= "\n"
// build:js /js/lib.js
= "\n"
each path in bowers
  = "\n"
  script(src= path + ".js", type="text/javascript")
  = "\n"
= "\n"
// endbuild
= "\n"

= "\n"
// build:js /js/app.js
= "\n"
each path in scripts
  = "\n"
  script(src=path + ".js", type="text/javascript")
  = "\n"
= "\n"
// endbuild
= "\n"
