- var appAFiles = []
- var appBFiles = []
- var libAFiles = []
- var libBFiles = []

- appAFiles.push('/app.module')
- appAFiles.push('/app-config')
- appAFiles.push('/app-run')
- appAFiles.push('/scripts/templates')
- appAFiles.push('/scripts/constants')
- appAFiles.push('/scripts/messaging.controller')
- appAFiles.push('/scripts/timeline.controller')
- appAFiles.push('/scripts/submissions-pages.controller')
- appAFiles.push('/scripts/submit-work-page.controller')
- appAFiles.push('/scripts/customer/customer-projects.controller')
- appAFiles.push('/scripts/customer/project-details.controller')
- appAFiles.push('/scripts/copilot/copilot-projects.controller')
- appAFiles.push('/scripts/copilot/copilot-project-details.controller')
- appAFiles.push('/scripts/copilot/open-projects.controller')

- appAFiles.push('/bower_components/appirio-tech-ng-work-layout/dist/main')
- appAFiles.push('/bower_components/appirio-tech-ng-file-upload/dist/main')
- appAFiles.push('/bower_components/appirio-tech-ng-timeline/dist/main')
- appAFiles.push('/bower_components/appirio-tech-ng-auth/dist/main')
- appAFiles.push('/bower_components/appirio-tech-ng-ui-components/dist/main')
- appAFiles.push('/bower_components/appirio-tech-ng-messaging/dist/main')
- appAFiles.push('/bower_components/appirio-tech-ng-login-reg/dist/main')

- appBFiles.push('/bower_components/appirio-tech-ng-projects/dist/main')
- appBFiles.push('/bower_components/appirio-tech-ng-submit-work/dist/main')
- appBFiles.push('/bower_components/appirio-tech-ng-api-services/dist/main')
- appBFiles.push('/bower_components/appirio-tech-ng-api-services/dist/main')
- appBFiles.push('/bower_components/appirio-tech-ng-optimist/dist/main')
- appBFiles.push('/bower_components/appirio-tech-ng-submissions/dist/main')

- libAFiles.push('/bower_components/zepto/zepto')
- libAFiles.push('/bower_components/angular/angular')
- libAFiles.push('/bower_components/angular-resource/angular-resource')
- libAFiles.push('/bower_components/angular-sanitize/angular-sanitize')
- libAFiles.push('/bower_components/angular-ui-router/release/angular-ui-router')
- libAFiles.push('/bower_components/angular-scroll/angular-scroll')

- libBFiles.push('/bower_components/a0-angular-storage/dist/angular-storage')
- libBFiles.push('/bower_components/angular-jwt/dist/angular-jwt')
- libBFiles.push('/bower_components/auth0-angular/build/auth0-angular')
- libBFiles.push('/bower_components/auth0.js/build/auth0')
- libBFiles.push('/bower_components/moment/moment')
- libBFiles.push('/bower_components/ap-newrelic/ng-route-timing/dist/newrelic')

= "\n"
// build:js /js/liba.js
= "\n"
each path in libAFiles
  script(src= path + ".js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

= "\n"
// build:js /js/libb.js
= "\n"
each path in libBFiles
  script(src= path + ".js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

= "\n"
// build:js /js/appa.js
= "\n"
each path in appAFiles
  script(src=path + ".js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

= "\n"
// build:js /js/appb.js
= "\n"
each path in appBFiles
  script(src=path + ".js", type="text/javascript")
  = "\n"
// endbuild
= "\n"

