- var scripts = []
- var bowers = []

- scripts.push('/app.module')
- scripts.push('/blocks/exception/exception.module')
- scripts.push('/blocks/logger/logger.module')
- scripts.push('/blocks/router/router.module')
- scripts.push('/core/resource/resource.module')
- scripts.push('/core/core.module')
- scripts.push('/layout/scripts/layout.module')
- scripts.push('/core/resource/resource.api.service')
- scripts.push('/core/resource/resource.data.provider')
- scripts.push('/scripts/templates')
- scripts.push('/scripts/constants')
- scripts.push('/core/ng-enter.directive')
- scripts.push('/layout/scripts/focus-on-click.directive')
- scripts.push('/layout/scripts/layout-header.directive')
- scripts.push('/layout/scripts/header-nav.directive')
- scripts.push('/layout/scripts/project-nav.directive')
- scripts.push('/blocks/exception/exception-handler.provider')
- scripts.push('/blocks/exception/exception')
- scripts.push('/blocks/logger/logger')
- scripts.push('/blocks/router/router-helper.provider')
- scripts.push('/core/config')
- scripts.push('/core/core.constants')
- scripts.push('/core/core.route')
- scripts.push('/scripts/messaging.controller')
- scripts.push('/scripts/timeline.controller')
- scripts.push('/scripts/submissions.controller')
- scripts.push('/scripts/slides-details.controller')
- scripts.push('/layout/scripts/modal.directive')
- scripts.push('/layout/scripts/homeLink.directive')
- scripts.push('/getting-started/scripts/getting-started.module')
- scripts.push('/getting-started/scripts/getting-started.route')
- scripts.push('/getting-started/scripts/getting-started.controller')
- scripts.push("/auth/scripts/auth.module")
- scripts.push("/auth/scripts/auth.routes")
- scripts.push("/auth/scripts/login.controller")
- scripts.push("/auth/scripts/login.directive")
- scripts.push("/auth/scripts/register.controller")
- scripts.push("/work-request/work-request.module")
- scripts.push("/manage/scripts/manage.module")
- scripts.push("/manage/scripts/manage.routes")
- scripts.push("/scripts/manage.controller")
- scripts.push("/manage/scripts/manage.service")
- scripts.push("/submit-work/scripts/submit-work.module")
- scripts.push("/submit-work/scripts/submit-work.routes")
- scripts.push("/submit-work/scripts/submit-work.controller")
- scripts.push("/submit-work/scripts/submit-work.service")
- scripts.push("/submit-work/scripts/nav.service")
- scripts.push("/submit-work/scripts/scroll-state.directive")
- scripts.push("/submit-work/aside/submit-work-aside.directive")
- scripts.push("/submit-work/aside/submit-work-aside.filter")
- scripts.push("/submit-work/aside/estimate.filter")
- scripts.push("/submit-work/about-project/about-project.route")
- scripts.push("/submit-work/about-project/scripts/name.controller")
- scripts.push("/submit-work/about-project/scripts/brief.controller")
- scripts.push("/submit-work/about-project/scripts/type.controller")
- scripts.push("/submit-work/about-project/scripts/competitors.controller")
- scripts.push("/submit-work/users/scripts/users.controller")
- scripts.push("/submit-work/users/users.route")
- scripts.push("/submit-work/features/features.route")
- scripts.push("/submit-work/features/scripts/features.controller")
- scripts.push("/submit-work/features/scripts/features.service")
- scripts.push("/submit-work/designs/scripts/designs.controller")
- scripts.push("/submit-work/launch/launch.route")
- scripts.push("/submit-work/launch/scripts/estimate.controller")
- scripts.push("/submit-work/launch/scripts/success.controller")
- scripts.push("/submit-work/next/next.directive")
- scripts.push('/bower_components/appirio-tech-ng-file-upload/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-timeline/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-auth/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-ui-components/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-submissions/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-messaging/dist/main')
- scripts.push('/bower_components/appirio-tech-ng-projects/dist/main')
- scripts.push('/bower_components/appirio-tech-copilot/dist/main')
- scripts.push('/scripts/projects.routes')
- scripts.push('/scripts/project-details.routes')

- bowers.push('/bower_components/jquery/dist/jquery')
- bowers.push('/bower_components/angular/angular')
- bowers.push('/bower_components/angular-resource/angular-resource')
- bowers.push('/bower_components/angular-sanitize/angular-sanitize')
- bowers.push('/bower_components/moment/moment')
- bowers.push('/bower_components/angular-ui-router/release/angular-ui-router')
- bowers.push("/bower_components/angular-scroll/angular-scroll")
- bowers.push('/bower_components/auth0.js/build/auth0')
- bowers.push('/bower_components/angular-animate/angular-animate')
- bowers.push('/bower_components/angular-cookies/angular-cookies')
- bowers.push('/bower_components/a0-angular-storage/dist/angular-storage')
- bowers.push('/bower_components/auth0-angular/build/auth0-angular')
- bowers.push('/bower_components/ap-newrelic/ng-route-timing/dist/newrelic')
- bowers.push('/bower_components/angular-jwt/dist/angular-jwt')

= "\n"
// build:js js/lib.js
= "\n"
each path in bowers
  = "\n"
  script(src= path + ".js", type="text/javascript")
  = "\n"
= "\n"
// endbuild
= "\n"

= "\n"
// build:js js/app.js
= "\n"
each path in scripts
  = "\n"
  script(src=path + ".js", type="text/javascript")
  = "\n"
= "\n"
// endbuild
= "\n"
