h2 Designing Your App

h3.grey (optional)

h3 Upload any files you may have that can help us understand your design preferences.


form
  fieldset
    .description e.g., style guides, icons, logos, etc.
    input#project-design-file(type="file", ng-model="vm.filename")
    label(for="project-design-file", ng-click="vm.add()") Browse

  ul.added-design-files
    li(ng-repeat="filename in vm.imageFilenames")
      .label {{filename}}

      button.remove(ng-click="vm.imageFilenames.splice($index, 1)") x

  next-state(state="vm.nextState", vm="vm")
