h2 Your App's Design

h3 Help us to understand your visual design preferences. Upload any existing design elements that are relevant to your app.

form
  fieldset
    input#project-design-file(type="file")

    button.add-design-file(ng-click="vm.add()") +

  ul.added-design-files
    li
      .label styleguid.ai

      button.remove x

    li
      .label super screenshot.jpg

      button.remove x

  button.submit(type="submit", ng-click="vm.next()") Next