h2 Designing Your App

h3.optional (optional)

h3 Upload any files you may have that can help us understand your design preferences.

form(name="designForm", ng-submit="vm.submit()")
  fieldset
    input#project-design-file(type="file", ng-model="vm.filename")

    button.add-design-file(type="button", ng-click="vm.add()") +

  ul.added-design-files
    li(ng-repeat="filename in vm.imageFilenames")
      .label {{filename}}

      button.remove(type="button", ng-click="vm.imageFilenames.splice($index, 1)") x

  button.submit(type="submit", ng-show="designForm.$valid") NEXT
