h2 Designing Your App

h3.optional (optional)

h3 Upload any files you may have that can help us understand your design preferences.

form(name="designForm", ng-submit="vm.submit()")
  fieldset

    ap-uploader(multiple="true", url-presigner="http://api.topcoder-dev.com/v3/workrequestfiles/uploadurl?filter=workRequestId%3D1436372805000-66d14ff5-ec15-410f-8c51-98e18e75f0fe%26assetType%3Dspecs", status="vm.uploaderStatus")

  button.submit(type="submit", ng-show="vm.uploaderStatus != 'started' ") NEXT
