h2 Designing Your App

h3.optional (optional)

h3 Upload any files you may have that can help us understand your design preferences.

form(name="designForm", ng-submit="vm.submit()")
  fieldset

    ap-uploader(config="vm.uploaderConfig", status="vm.uploaderStatus")

  button.submit(type="submit", ng-show="vm.uploaderStatus != 'started' ") NEXT
