loader(ng-show="false")

ul.links
  li.flex.middle(ng-repeat="report in vm.pastReports track by $index")
    .bullet

    a(ui-sref="copilot-status-report-details({id: vm.workId, reportId: report.id})") {{report.createdAt | date:'MMMM d, yyyy' }}

