@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

.layout-main.timeline {
  .co-pilot {
    padding         : $padding-4;
    background-color: white;
    border          : 1px solid grey;
    display         : table;
  }

}