@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

.layout-main.timeline {
  .submissions {
    ul {
      li {
        width       : 80px;
        height      : 80px;
        border      : 1px solid grey;
        margin-top  : 10px;
        margin-right: 10px;
        display     : inline-block;
      }
    }
  }
}