@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

.layout-main.timeline {
  padding: $padding-15 $padding-20;

  > ul {
    > li {
      $point-width    : 27px;
      $big-point-width: 37px;
      $timeline-width : 3px;
      $progress-width : 80px;
      $lead-width     : 20px;
      $spacing        : 20px;
      $head-width     : $spacing + $progress-width + $lead-width + $point-width/2 + $timeline-width/2;
      $head-width-big : $spacing + $progress-width + $lead-width + $big-point-width/2 + $timeline-width/2;

      &:first-child::before, &:last-child::after {
        margin-top      : -3px;
      }

      &:last-child {
        padding-bottom: 0;

        &::after {
          margin-top: -6px;
        }
      }

      margin-left: $head-width-big;

      .checkpoint {
        margin-left: -$head-width;

        .progress {
          width         : $progress-width;
          text-align    : right;
          text-transform: uppercase;
          display       : inline-block;
        }

        .lead {
          width           : $lead-width;
          margin          : 0 $spacing/2;
          height          : 2px;
          background-color: grey;
          display         : inline-block;
        }
      }

      &.milestone {
        .checkpoint {
          margin-left: -$head-width-big;
        }
      }
    }
  }
}
