@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

.layout-main.timeline {
  padding: $padding-15 $padding-20;

  > ul {
    @include span-columns(9);
    @include shift(3);

    li {
      $icon-width          : 25px;
      $big-icon-width      : 30px;
      $timeline-width      : 3px;
      $progress-width      : 60px;
      $spacing             : $padding-30;
      $icon-margin-left    : -$spacing - 2px - ($icon-width + $timeline-width) / 2;
      $big-icon-margin-left: -$spacing - 2px - ($big-icon-width + $timeline-width) / 2;
      $progress-margin-left: -$progress-width - ($spacing * 2);

      border-left: $timeline-width solid grey;
      padding    : 0 0 $spacing $spacing;
      overflow   : hidden;
      color      : grey;

      .progress {
        width      : $progress-width;
        position   : absolute;
        margin-left: $progress-margin-left;
        text-align : right;
      }

      .icon {
        width           : $icon-width;
        height          : $icon-width;
        box-sizing      : content-box;
        border          : 3px solid white;
        border-radius   : $icon-width;
        background-color: grey;
        margin-left     : $icon-margin-left;
        position        : absolute;
        text-align      : center;
        color           : $white;
        line-height     : $icon-width;
      }

      h4 {
        margin: 0;
        line-height: $icon-width;
      }

      &.checkpoint {
        .icon {
          width        : $big-icon-width;
          height       : $big-icon-width;
          border-radius: $big-icon-width;
          margin-left  : $big-icon-margin-left;
        }
      }

      &.info {
        .icon {
          background-color: blue;
        }

        p {
          $arrow-size: 10px;

          background-color: blue;
          color           : $white;
          display         : inline-block;
          padding         : $padding-4;

          &:before {
            content      : "\A";
            position     : absolute;
            border-top   : $arrow-size solid transparent;
            border-bottom: $arrow-size solid transparent;
            border-right : $arrow-size solid blue;
            margin-left  : -$arrow-size - $padding-4 + 1px;
          }
        }

        a {
          text-decoration: underline;
          color          : blue;
          margin         : $margin-10;
          display        : inline-block;
        }
      }

      &.completed {
        border-color: green;

        .icon {
          background-color: green;
        }
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
