@import "../../core/styles/combined";
@import "bourbon";
@import "neat";

.layout-main.timeline {
  .sent-email {
    .icon {
      background-color: blue;
    }

    p {
      $arrow-size: 10px;

      background-color: blue;
      color           : white;
      display         : inline-block;
      padding         : $padding-4;

      &:before {
        content      : "\A";
        position     : absolute;
        border-top   : $arrow-size solid transparent;
        border-bottom: $arrow-size solid transparent;
        border-right : $arrow-size solid blue;
        margin-left  : -$arrow-size - $padding-4 + 1px;
      }
    }

    a {
      color  : blue;
      margin : $margin-10;
      display: inline-block;
    }
  }
}