<section class="matter">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked">
          <li class="disabled">Submit to Project</li>
          <li class="active">Add payment method</li>
          <li class="disabled">Receive submissions</li>
          <li class="disabled">Provide feedback</li>
          <li class="disabled">Select winner</li>
        </ul>
      </div>
      <div class="col-md-10">
        <div class="container">
          <div class="lead" ng-if="vm.isNew">
            <p>Your project has been submitted, and you may now add a payment method.<br/>
              This step must be completed before your challenge can launch.</p>
            <hr />
          </div>
          <h1 class="text-center">{{vm.project.name}}</h1>
          <h3>Description</h3>
          <p>{{vm.project.description}}</p>
          <h3>Existing website</h3>
          <p>{{vm.project.website}}</p>
          <h3>App look and feel</h3>
          <p>{{vm.project.styleMinimalComplex | lookandFeelFilter : 'Minimal' : 'Complex'}}</p>
          <p>{{vm.project.styleModernClassic | lookandFeelFilter : 'Modern' : 'Classic'}}</p>
          <p>{{vm.project.stylePlayfulSerious | lookandFeelFilter : 'Playful' : 'Serious'}}</p>
          <p>{{vm.project.styleLoudSubtle | lookandFeelFilter : 'Loud' : 'Subtle'}}</p>
          <p>{{vm.project.styleLuxuryBudget | lookandFeelFilter : 'Luxury' : 'Budget'}}</p>
          <h3>Ideas for app style/theme</h3>
          <p>{{vm.project.styleIdeas}}</p>
          <h3>Number of screens</h3>
          <p>{{vm.project.screens | screens}}</p>
          <h3>Screens and the main work flows</h3>
          <p>{{vm.project.screenFlow}}</p>
          <h3>Supporting links, images, sketches or documents</h3>
          <p ng-repeat="link in vm.project.links">{{link}}</p>
          <h3>Additional details</h3>
          <p>{{vm.project.additionalDetails}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
