.flex.middle.center
  button.clean.point(
    ng-class="{ expanded: vm.expanded[$parent.$parent.$index].events[$index]}"
    ng-click="vm.expanded[$parent.$parent.$index].events[$index] = !vm.expanded[$parent.$parent.$index].events[$index]"
  )
    .icon.plus.hollow

    .icon.minus.hollow

  h1 Final deliverables

time {{event.eventTime | timeLapse }}

event-card-main
  p {{ event.threadInfo.lastMessageInfo.content || 'no subject' }}

  ul.submissions
    li(ng-repeat="submission in event.submissionThreads track by $index")
      img.img.elevated(ng-src="{{submission.thumbnailUrl}}")

  button.action.wider view all