h1 Quote approved

time {{event.eventTime | timeLapse}}

event-card-main
  p Thank you for approving the quote. Your copilot will now prepare the project requirements that will be followed by the community. You will see an update here and be notified by email when work on your project begins.