@import "../../../core/styles/combined";

.layout-main.submit-work .designs {
  form {
    @include main-restricted();

    width: 530px;


    input, [type=file] + label {
      border: 1px solid #CCC;
      border-radius: 3px;
      height: 30px;
      padding: 7px;
      width: 100px;
      float: right;
      text-align: center;
    }

    .description {
      margin-left: 50px;
      height: 30px;
      padding: 7px;
      width: 260px;
      height: 30px;
      float: left;
      text-align: center;
      left: 7.35em;
      top: 0.5em;
      background: #CCCCCC;
    }

    [type=file] {
      opacity: 0;
    }

    .add-design-file {
      width: 34px;
      float: right;
      background-color: $white;
      margin-top: $margin-18;
      color: $black;
    }

    .added-design-files {
      width: 300px;
      margin-left: auto;
      margin-right: auto;
      li {
        margin-top: $margin-10;
        overflow:  hidden;

        .label {
          line-height: 40px;
          float: left;
        }

        .remove {
          margin-top: 0;
          float: right;
          width: 34px;
          background-color: $white;
          color: $black;
        }
      }
    }
  }
}
