ul.nav(ng-show="projects.length > 0")
  li
    a(ui-sref="submissions({workId: 123, phase: 'complete-designs'})") Submissions

  li
    a(ui-sref="view-work-multiple") Dashboard

  li
    a(ui-sref="view-projects.assigned") Copilot

  li
    a(href="") Projects


    ul
      li
        a(ui-sref="submit-work.flow") Create New Project

      li(ng-repeat="project in projects")
        a(ui-sref="timeline({ workId: project.id })") {{project.name}}
