- links = []
- links.push({ state: "register", 'ui-sref-active': "active", label: 'Sign up'})
- links.push({ state: "#", label: 'Help'})
- links.push({ state: "#", label: 'About'})
- links.push({ state: "copilot-projects", label: 'Copilot Dashboard'})

footer.layout-footer
  ul
    each link in links
      li
        a(ui-sref=link.state)!=link.label