.heading
  h1 Manage Projects
  button New Project

ul.projects
  li.project(ng-repeat= "project in vm.workRequests")
    .top
      .name {{project.name}}
      .type {{project.requestType}}
    .middle
      img
    .bottom
      .status {{project.status}}
      .action
        a Action
