.heading
  h1 Manage Projects
  button New Project

ul
  li(ng-repeat= "project in vm.workRequests")
    header
      h4 {{project.name}}
      span.type {{project.requestType}}
    .middle
      img
    .bottom
      .status {{project.status}}
      .action
        a Action
