h2 Your App's Users

h3 Who are your app's users and how will they use your app?

form(name="usersForm")
  textarea(name="usageDescription", ng-model="vm.work.usageDescription", maxlength="300")

ng-messages(for="(vm.next || vm.work.submitAttempted) && vm.validate()" ng-hide="usersForm.usageDescription.$pristine && !vm.work.submitAttempted")
  ng-message(when="required") This field is required

  ng-message(when="minlength") Help our designers understand your needs, please enter at least 200 characters.

next-state(state="vm.nextState", vm="vm")

