header(role="heading")
  h1 Your App's Users

main
  form
    label(for="your-app-users") Who are your app's users and how will they use your app?

    textarea#your-app-users(ng-model="vm.work.usageDescription", maxlength="300")

    button.submit(ng-click="vm.next()") Next

nav(role="navigation", "ng-submit-work-nav"=true)
