@import "work-styles";

.outer-container {
  @include outer-container;
  background-color: #fff;
}

// TODO: remove this
.layout-main.timeline {
  margin-right: 120px;
}

// TODO: remove this
.layout-main.messaging, .layout-main.copilot-messaging {
  textarea {
    background-color: $primary-color-lightest;
  }
}

.layout-main {

  header {
    h1 {
      background-color: #006c9e;
      color           : #fff;
      padding         : 10px 0;
      text-align      : center;
    }
  }

  main {
    padding: 18px 10px;
  }

  aside {
    padding: 18px;
  }

  > main {
    width       : 320px;
    margin-left : auto;
    margin-right: auto;
    display     : block;
  }

  footer {
    margin: 18px;
  }
}

button {
  cursor: pointer;
}
