$white: #fff;
$black: #000;

/* greys */
$ship-gray   : #404041;
$mine-shaft  : #2D2D2D;
$mercury     : #e6e6e6;
$silver-sand : #b3bbbf;
$slate-gray  : #66838f;
$gray-chateau: #A7A9AB;

/* greens */
$celery: #A1CB60;
$apple: #38B449;

/* blues */
$limed-spruce: #333e48;
$orient: #005b7f;
$all-ports: #006c9e;
$cerulean: #009dce;
$pacific-blue: #009bcd;

/* reds */
$punch: #db312e;
