$white: #fff;

/* greys */
$mercury: #e6e6e6;
$silver-sand: #b3bbbf;

/* greens */
$celery: #A1CB60;

/* blues */
$limed-spruce: #333e48;
$all-ports: #006c9e;
$cerulean: #009dce;
$pacific-blue: #009bcd;