$font-1: 1rem;
$font-10: 1.0rem;
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-15: 1.5rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2.0rem;
$font-24: 2.4rem;
$font-28: 2.8rem;
$font-36: 3.6rem;
$font-50: 5.0rem;
$font-52: 5.2rem;

