@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin bg-image-ratio($low, $high) {
  background-repeat: no-repeat;

  @media (-webkit-max-device-pixel-ratio: 1.99), (max-resolution: 191dpi) {
    background-image: url($low);
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url($high);
  }
}

@mixin bg-cover($src) {
  background             : url($src) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size   : cover;
  -o-background-size     : cover;
  background-size        : cover;
}

@mixin icon-sprite() {
  background-size    : 400px 400px;
  @include bg-image-ratio("../images/sprite.png", "../images/sprite-2x.png");
}


@mixin main-restricted() {
  width       : 300px;
  margin-left : auto;
  margin-right: auto;
  display     : block;
}

@mixin main-restricted-landscape() {
  width       : 548px;
  margin-left : auto;
  margin-right: auto;
  display     : block;
}

@mixin main-restricted-desktop() {
  width: 100%;
}
