$base: 1px;

$padding-2: $base * 2;
$padding-3: $base * 3;
$padding-4: $base * 4;
$padding-9: $base * 9;
$padding-10: $base * 10;
$padding-11: $base * 11;
$padding-12: $base * 12;
$padding-15: $base * 15;
$padding-16: $base * 16;
$padding-18: $base * 18;
$padding-20: $base * 20;
$padding-22: $base * 22;
$padding-25: $base * 25;
$padding-30: $base * 30;
$padding-40: $base * 40;
