h2 About your project

h3 Do you have a project brief?

form
  input#brief-your-project(type="file", placeholder="My Project", ng-model="vm.briefFilename")

  next-state(state="vm.nextState", vm="vm")
