h2 About your project

form
  label(for="brief-your-project") Do you have a project brief?

  input#brief-your-project(type="text", placeholder="My Project", ng-model="vm.briefFilename")

  button.submit(type="submit") Next
