h2 About your project

h3 What existing apps would be similar to (or compete against) your new app?

form
  fieldset
    input#project-competitors(type="text", placeholder="eTrade Mobile Trading App", ng-model="vm.appName")

    button.add-competitor(ng-click="vm.add()") +

  h6(ng-show="vm.work.competitorApps.length > 0") Your List of Similar Apps

  ul.added-competitors
    li(ng-repeat="appName in vm.work.competitorApps")
      .competitor {{appName}}

      button.remove-competitor(ng-click="vm.work.competitorApps.splice($index, 1)") x

  next-state(state="vm.nextState", vm="vm")
