h2 About Your Project (optional)

p Name some similar or competitor apps
input(type="text", ng-model="vm.appName")
button(ng-click="vm.add()") +

button(ng-click="vm.next()") Next

ul
  li(ng-repeat="appName in vm.project.competitors")
    span {{appName}}
    button(ng-click="vm.project.competitors.splice($index, 1)") x
