h2 About your project

form
  label(for="project-elevator-pitch") Give us a brief explanation or "Elevator Pitch"

  textarea#project-elevator-pitch(placeholder="My Project", ng-model="vm.work.summary")

  next-state(state="vm.nextState")
