h2 About your project

form
  label(for="project-elevator-pitch") Give us a brief explanation or "Elevator Pitch"

  textarea#project-elevator-pitch(placeholder="My Project")

  button.submit(type="submit") Next
