header(role="heading")
  h1 About your project

main
  form
    label(for="project-elevator-pitch") Give us a brief explanation or "Elevator Pitch"

    textarea#project-elevator-pitch(placeholder="My Project")

    button.submit(type="submit") Next

nav(role="navigation", "ng-submit-work-nav"=true)