h2 About your project

form
  label(for="name-your-project") Name your project:

  input#name-your-project(type="text", placeholder="My Project", required=true, ng-model="vm.work.name")

  button.submit(type="submit", ng-click="vm.next()") Next
