header(role="heading")
  h1 About your project

main
  form
    label(for="name-your-project") Name your project:
    input#name-your-project(type="text", placeholder="My Project", required=true, ng-model="vm.work.name")

    button.submit(type="submit", ng-click="vm.next()") Next

nav(role="navigation", "ng-submit-work-nav"=true)
