h2 About Your Project

p What type of project do you need?

li
  ul
    input(type="checkbox")
    span Design
  ul
    input(type="checkbox")
    span Code
  ul
    input(type="checkbox")
    span Design and Code

button(ng-click="vm.next") Next

