h2 What features does your app need?

h3 Choose features and describe it.

form
  ul
    li(ng-repeat="feature in vm.work.features")
      input(id="{{'feature-' + feature.id}}", type="checkbox", ng-model="feature.selected")

      .label-example
        label(for="{{'feature-' + feature.id}}") {{feature.name}}

        a(href='#', ng-mouseover="vm.showExample('login')", ng-mouseleave="vm.hideExample()") (example)

      .desc {{feature.description}}

      textarea(placeholder="explain briefly (optional)", ng-show="feature.selected", ng-model="feature.explanation")

  h3 Add a custom feature.

  .new-feature
    fieldset
      input(type="text", ng-model="vm.newFeatureName", placeholder="Name")

      input(type="text", ng-model="vm.newFeatureExplanation", placeholder="Explanation")

      button(ng-click="vm.add()") +

  next-state(state="vm.nextState", vm="vm")