h2 What features does your app need?

p Choose features and describe it.
div
  input(type="checkbox")
  span Email/Username Login
div
  input(type="checkbox")
  span Social Login
div
  input(type="checkbox")
  span Profiles
div
  input(type="checkbox")
  span Accept Payments
div
  input(type="checkbox")
  span Ratings/Reviews
div
  input(type="checkbox")
  span Location-based or Navigation Element
div
  input(type="checkbox")
  span Sharing Functions
div
  input(type="checkbox")
  span An API
div
  input(type="checkbox")
  span Search

button(ng-click="vm.next()") Next
