- features = []
- features.push({ id: 'login', label: 'Email/Username Login', desc: 'Login with an email or username' })
- features.push({ id: 'social-login',  label: 'Social Login', desc: 'Login with Twitter, Facebook, LinkedIn, or Google' })
- features.push({ id: 'profiles',  label: 'Profiles', desc: 'People can enter information about themselves' })
- features.push({ id: 'accept-payments',  label: 'Accept Payments', desc: 'Accept credit cards, PayPal, Bitcoin' })
- features.push({ id: 'ratings',  label: 'Ratings/Reviews', desc: 'People leave reviews and/or rate things' })
- features.push({ id: 'location',  label: 'Location-based or Navigation Element', desc: 'A map, GPS tracking' })
- features.push({ id: 'sharing',  label: 'Sharing Functions', desc: 'Share on Twitter, Facebook, Email' })
- features.push({ id: 'api',  label: 'An API', desc: 'Data can be connected with a website or other' })
- features.push({ id: 'search',  label: 'Search', desc: 'People can search/browse/filter' })


h2 What features does your app need?

h3 Choose features and describe it.

form
  ul
    each feature in features
      - id = 'feature-' + feature.id

      li
        input(id=id, type="checkbox")

        .label-example
          label(for=id)!= feature.label

          a(href='#') (example)

        .desc!= feature.desc

        textarea(placeholder="explain briefly (optional)")

  button.submit(type="submit", ng-click="vm.next()") Next

.example.layout-modal

  a.close(href="#", onclick)

  img(src="/submit-work/images/iphone.png")

style.
  /* need to remove this when integrating with controller */
  .overlay, .layout-modal {
    display: none;
  }
