li
  .icon

  p Assign Co-Pilot

li
  .icon

  p We are choosing a Co-Pilot best suited for your project.

li.completed
  .icon

  p Co-Pilot Assigned

  .co-pilot
    .avatar

    .greeting Hi I'm John. I'll be your project manager.