li
  section.checkpoint
    .progress
      .percent 22%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label Assign Co-Pilot

    label(ng-show="completed") We are choosing a Co-Pilot best suited for your project.

    label(ng-show="completed") Co-Pilot Assigned

  .co-pilot
    .avatar

    span Hi I'm John. I'll be your project manager.