li(ng-class="{ completed: vm.coPilotedDate }")
  section.checkpoint
    .progress
      .percent 22%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.paymentAddedDate || vm.coPilotedDate") Assign Co-Pilot

    label(ng-hide="vm.coPilotedDate") We are choosing a Co-Pilot best suited for your project.

    label(ng-show="vm.coPilotedDate") Co-Pilot Assigned

  .avatar-box(ng-show="vm.coPilotedDate")
    .avatar

    span Hi I'm John. I'll be your project manager.