li
  section.checkpoint
    .progress
      .percent 95%

      .status Complete

      .day Day 20

    .lead

    .point

    .lead-after

    label Final Feedback

    label(ng-show="completed") Feedback given to AppBomber34

  p Awaiting final design changes.