li.milestone
  section.checkpoint
    .progress
      .percent 25%

      .status Complete

      .day Day 1

    .lead

    .point
      .info !

    .lead-after

    label Project Launched

li.no-progress
  section.checkpoint
    .point

    .lead-after

    label Others have joined the project.

  .avatar-box
    .avatar

    span <a href="#">Appulous9000</a> and 6 others have joined the project.
