li(ng-class="{ completed: vm.paymentAddedDate, passed: vm.coPilotedDate }")
  section.checkpoint
    .progress
      .percent 20%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label Add Payment Method

    label(ng-show="completed") Payment Method Accepted.
