li.milestone.completed
  section.checkpoint
    .progress
      .percent 6%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label Project Submitted

  p
    time {{ vm.submittedDate }}
