li
  .icon

  h4 Generate Quote

li.completed
  .progress
    .percent 10%

    .status Complete

    .day Day 1

  .icon

  p Quote has been generated.

  a(href="#") View quote and pay to continue.

  p Co-Pilot will not be assigned until your payment has been approved.