li(ng-class="{ completed: vm.quotedDate }")
  section.checkpoint
    .progress
      .percent 10%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label(ng-hide="vm.quotedDate") Generate Quote

    label(ng-show="vm.quotedDate") Quote has been generated.

  p(ng-show="vm.quotedDate")
    a(href="#") View quote and pay to continue.

  p(ng-show="vm.quotedDate")
    em Co-Pilot will not be assigned until your payment has been approved.