li
  section.checkpoint
    .progress
      .percent 10%

      .status Complete

      .day Day 1

    .lead

    .point

    .lead-after

    label Generate Quote

    label(ng-show="completed") Quote has been generated.

  p
    a(href="#") View quote and pay to continue.

  p
    em Co-Pilot will not be assigned until your payment has been approved.