li.milestone
  section.checkpoint
    .progress
      .percent 50%

      .status Complete

      .day Day 14

    .lead

    .point

    .lead-after

    label Select Finalists

  a(href="") View submissions and select finalists

li.no-progress
  section.checkpoint
    .point

    .lead-after

    label You selected 4 finalists

