li.submissions
  section.checkpoint
    .progress
      .percent 30%

      .status Complete

      .day Day 8

    .lead

    .point

    .lead-after

    label Updates from Appulous9000


  time.time 12:30pm April 5 2015

  a.view-details(href="3") View Submission Details

  ul
    li

    li

    li

    li
