li.info(ng-class="{ completed: vm.emailVerifiedDate, passed: vm.quotedDate }")
  section.checkpoint
    .progress
      .percent 6%

      .status Complete

      .day Day 1

    .lead

    .point
      .info !

    .lead-after

    label We sent an email to johndoe@example.com. <br /> Click the link in the email to verify your email address.

    label(ng-show="completed") Thanks! Your email is verified.

  a.resend(href="#") Re-send Email