layout-header.elevated(role="banner")

main.layout-main.login.flex.column.center("role"="main" layout-main=true flush-height=true)
  h1 Welcome back to appirio

  p.subheader.secondary Let's start building your app.  Login or create an account below to begin.

  login

  ul.reminders
    li
      p Don't have an account? <a ui-sref="register">Sign Up</a>

    li
      p Forgot your password? <a ui-sref="FORGOT_PASSWORD">Reset It</a>

layout-footer