layout-header(role="banner" user-type="{{ vm.userRole }}")

main.layout-main("role"="main" layout-main=true)
  h1 account information

  account-page(store="vm.store" permissions="vm.permissions")

layout-footer