layout-header.elevated(role="banner")

main.layout-main.registration-success.flex.column.center.middle("role"="main" layout-main=true flush-height=true)
  main
    p Thanks for creating an account.  We've sent you a confirmation link.  Please check your email and click the link to activate your account. If you can't find the message please contact <a href="mailto:support@asp.com">support@asp.com</a>

layout-footer