layout-header.elevated(role="banner")

main.layout-main.reset-password("role"="main" layout-main=true flush-height=true)
  h2 reset password

  main
    p Enter your email and we'll send you a link to reset your password.

    forgot-password

    ul.reminders
      li
        p Don't have an account? <a ui-sref="register">Sign Up</a>

      li
        p Already have an acount? <a ui-sref="login">Log in</a>

layout-footer