layout-header(role="banner")

main.layout-main.login("role"="main" layout-main=true flush-height=true)
  h2 Welcome back to topcoder

  sso-login(org="{{ vm.org }}" callback-state="SSO_CALLBACK")

layout-footer