layout-header(role="banner")

main.layout-main.login("role"="main" layout-main=true flush-height=true)
  h2 Welcome back to topcoder

  sso-callback(token="{{ vm.token }}" status="{{ vm.status }}" message="{{ vm.message }}")

layout-footer