h1 Project Timeline

hr

ul
  li.checkpoint.completed
    .icon

    h4 Project Submitted

  li.info
    .icon !

    p We sent an email to johndoe@example.com. <br /> Click the link in the email to verify your email address.

    a.resend(href="#") Re-send Email

  li.completed
    .progress
      .percent 6%

      .status Complete

      .day Day 1

    .icon

    p Thanks! Your email is verified.

    p We have begun to generate your quote and will be contacting you shortly.

  li
    .icon

    h4 Generate Quote

  li
    .icon

    h4 Assign Co-Pilot
