h1 Project Timeline

hr

ul
  include parts/project-submitted

  include parts/verify-email

  include parts/quote

  include parts/payment

  include parts/co-pilot

  include parts/launched

  include parts/submissions

  include parts/feedback

  include parts/checkpoint-1

  include parts/select-finalists

  include parts/final-design

  include parts/choose-winner

  include parts/final-feedback

  include parts/project-complete

