@import "work/work-includes";

account-page {
  display   : block;
  padding   : 35px;
  text-align: left;

  aside {
    width: 270px;
    height: 185px;
    border-right: 2px solid $grey;
    margin: 50px 55px 0 0 ;

    li {
      @include exclude-first(margin-top, 35px);

      button.clean {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  personal-info {
    margin-top: 100px;
  }
}
