@import "work/work-includes";
@import "variables";

login-reg-shell {
  display   : block;
  width     : 620px;
  text-align: center;

  p.error {
    max-height : 40px;
    overflow   : hidden;
    padding-top: 20px;

    &.hide {
      padding-top: 0px;
      max-height: 0;
    }
  }

  main {
    background-color: $white;
    padding: 35px 35px 30px 35px;

    > p {
      font-size    : 16px;
      font-weight  : 400;
      line-height  : 21px
    }
  }

  header {
    padding: 10px;

    img {
      height: 45px;
    }

    background-color: $grey-darkest;
  }

  footer {
    margin-top: $vertical;
  }

  form {
    width: 380px;
    margin-left : auto;
    margin-right: auto;
    margin-top: 10px;

    input, button, .button {
      margin-top: 20px;
    }
  }
}
