layout-header.elevated-bottom(role="banner")

main.layout-main("role"="main" layout-main=true)
  h1#header-404 404 - Page can not be found.

  #fun-404
    .container
      .one ;)

    .container
      .two :)

    .container
      .three :D

    .container
      .four :(

    .container
      .five :*

layout-footer
