layout-header(role="banner")

layout-project-nav(work-id="{{ vm.projectId }}")

main.layout-main.project-page.final-fixes.submissions("role"="main" layout-main=true)
  final-fixes(project-id="{{ vm.projectId }}", step-id="{{ vm.stepId }}")

layout-footer
