layout-header(role="banner")

main.layout-main("role"="main" layout-main=true)
  h2 Manage Projects

  a.button.action.wider(ui-sref='submit-work') Start a new project

  hr

  ng-projects

layout-footer
