layout-header(role="banner")

main.layout-main("role"="main" layout-main=true)
  a(ng-click="vm.back()") Back

  h1.messaging-page-header
    | Messaging

  messaging(thread-id="{{ vm.threadId }}" subscriber-id="{{ vm.subscriberId }}")


layout-footer
