layout-header.elevated-bottom(role="banner" work-id="{{ vm.workId }}" ng-if="vm.isClient")

layout-project-nav(work-id="{{ vm.workId }}" ng-if="vm.isClient")

main.messaging.layout-main("role"="main" layout-main=true)
  h1 Messaging

  messaging(flush-height=true work-id="{{ vm.workId }}" thread-id="{{ vm.threadId }}" subscriber-id="{{ vm.subscriberId }}")

  main.no-copilot
    p Your Co-Pilot has not yet been assigned.

    p Once your Co-Pilot joins the project, you will be able to exchange messages with them here.

layout-footer
