layout-header(role="banner" user-type="{{ vm.userRole }}")

main.layout-main.manage(role="main" layout-main=true flush-height=true)
  h1 Your Projects

  a.button.action.wider(ui-sref='submit-work') Start a new project

  hr

  project-search(permissions="vm.permissions" store="vm.store")

layout-footer
