layout-header(role="banner" user-type="{{ vm.userRole }}")

main.layout-main.manage(role="main" layout-main=true flush-height=true)
  project-search-controls(store="vm.store" ng-if="true")
  
  ng-projects

  project-search-footer(store="vm.store")
