layout-header.elevated(role="banner" work-id="{{ vm.projectId }}")

layout-project-nav(work-id="{{ vm.projectId }}")

main.layout-main("role"="main" layout-main=true flush-height=true)
  submissions(ng-if="vm.stepType == 'designConcepts' || vm.stepType == 'completeDesigns' " project-id="{{ vm.projectId }}", step-id="{{ vm.stepId }}", step-type="{{ vm.stepType }}")

  final-fixes(ng-if="vm.stepType == 'finalFixes' " project-id="{{ vm.projectId }}", step-id="{{ vm.stepId }}")

layout-footer