layout-header.elevated(role="banner" work-id="{{ vm.projectId }}")

layout-project-nav(work-id="{{ vm.projectId }}")

main.layout-main.submissions("role"="main" layout-main=true flush-height=true)
  submissions(project-id="{{ vm.projectId }}", step-id="{{ vm.stepId }}", step-type="{{ vm.stepType }}")

layout-footer
