layout-header(role="banner" user-type="{{ vm.userRole }}")

main.layout-main.submit-work("role"="main" layout-main=true)
  submit-work-type(work-id="{{ vm.id }}" permissions="vm.permissions")

layout-footer
