layout-header.elevated(role="banner" work-id="{{ vm.projectId }}")

layout-project-nav(work-id="{{ vm.workId }}")

main.layout-main("role"="main" layout-main=true)
  submissions(project-id="{{ vm.projectId }}", step-id="{{ vm.stepId }}", step-type="{{ vm.stepType }}")

layout-footer
