layout-header(role="banner")

layout-project-nav(work-id="{{ vm.workId }}")

main.layout-main("role"="main" layout-main=true)
  submission-detail(project-id="{{ vm.projectId }}", step-id="{{ vm.stepId }}", submission-id="{{ vm.submissionId }}")

layout-footer
