layout-header(role="banner" user-type="{{ vm.userRole }}")

main.layout-main("role"="main" layout-main=true)
  .icon.checkmark

  p Thanks for verifying your email address. You're now ready to create and manage your projects.
