$vertical-smallest: 10px;
$vertical-small   : 20px;
$vertical         : 30px;
$vertical-big     : 40px;

$horizontal-smallest: 10px;
$horizontal-small   : 20px;
$horizontal         : 30px;
$horizontal-big     : 37px;
