@import "core/styles/combined";

$header-height: 38px;

.layout-header {
  padding  : $padding-20 $padding-30;
  background-color: $white;
  @include clearfix();

  > * {
    display    : block;
    line-height: $header-height;
  }

  .logo {
    float           : left;
    width           : 176px;
    height          : $header-height;
    background-color: blue;
  }

  .login, .get-started {
    float      : right;
    line-height: $header-height;
    font-size  : $font-16;
  }

  .login {
    > * {
      display    : inline-block;
    }

    .icon {
      width: 21px;
      height: 22px;
      background-color: blue;
      vertical-align: middle;
    }

    .label {
      margin-left: $margin-10;
    }
  }

  .get-started {
    line-height: $header-height - ($padding-10 * 2);
    margin-left: 5%;
    background-color: $celery;
    border-radius: $border-radius-4;
    padding: $padding-10 $padding-16;
    color: $white;
  }

}