- jsFiles = []
- jsFiles.push("/src/client/app/projects/scripts/projects.module")
- jsFiles.push("/src/client/app/projects/scripts/projects.routes")
- jsFiles.push("/src/client/app/projects/scripts/projects.controller")
- jsFiles.push("/src/client/app/projects/scripts/projectsTab.controller")
- jsFiles.push("/src/client/app/projects/scripts/projects.service")

- cssFiles = []
- cssFiles.push("projects/styles/projects")

- landscapeFiles = []
- landscapeFiles.push("projects/styles/projects.landscape")

- desktopFiles = []
- desktopFiles.push("projects/styles/projects.desktop")
