layout-header.elevated(role="banner")

main.layout-main.manage("role"="main" layout-main=true flush-height=true)
  h2 Your Projects

  a.button.action.wider(ui-sref='submit-work') Start a new project

  hr

  ng-projects

layout-footer
