layout-header(role="banner" work-id="{{ vm.id }}")

layout-project-nav(work-id="{{ vm.id }}")

main.layout-main.project-page("role"="main" flush-height=true)
  h2 Requirements

  p To make changes, please <a ui-sref="messaging({id: vm.id})"> send a message </a> to your copilot.

  project-details(project-id="{{ vm.id }}")

layout-footer
