- var bowers = []

- bowers.push('/bower_components/jquery/dist/jquery')
- bowers.push('/bower_components/angular/angular')
- bowers.push('/bower_components/angular-resource/angular-resource')
- bowers.push('/bower_components/ng-messages/angular-messages')
- bowers.push('/bower_components/angular-sanitize/angular-sanitize')
- bowers.push('/bower_components/extras.angular.plus/ngplus-overlay')
- bowers.push('/bower_components/moment/moment')
- bowers.push('/bower_components/angular-ui-router/release/angular-ui-router')
- bowers.push('/bower_components/toastr/toastr')
- bowers.push("/bower_components/angular-scroll/angular-scroll")
- bowers.push('/bower_components/auth0.js/build/auth0')
- bowers.push('/bower_components/angular-animate/angular-animate')
- bowers.push('/bower_components/angular-cookies/angular-cookies')
- bowers.push('/bower_components/a0-angular-storage/dist/angular-storage')
- bowers.push('/bower_components/auth0-angular/build/auth0-angular')

- var bowercss = []
- bowercss.push('/bower_components/font-awesome/css/font-awesome')
- bowercss.push('/bower_components/toastr/toastr')
