- jsFiles = []
- jsFiles.push('/bower_components/appirio-tech-ng-auth/dist/scripts/ng-auth.module')
- jsFiles.push('/bower_components/appirio-tech-ng-auth/dist/scripts/authorizations-api.service')
- jsFiles.push('/bower_components/appirio-tech-ng-auth/dist/scripts/auth.service')
- jsFiles.push('/bower_components/appirio-tech-ng-auth/dist/scripts/token.service')
