- jsFiles = []
- jsFiles.push("bower_components/appirio-tech-timeline/dist/scripts/timeline.module")
- jsFiles.push("bower_components/appirio-tech-timeline/dist/scripts/timeline.routes")
- jsFiles.push("bower_components/appirio-tech-timeline/dist/scripts/timeline.controller")
- jsFiles.push("bower_components/appirio-tech-timeline/dist/scripts/timeline-api.service")
- jsFiles.push("bower_components/appirio-tech-timeline/dist/scripts/user-api.service")
- jsFiles.push("bower_components/appirio-tech-timeline/dist/scripts/timeline.service")

- cssFiles = []
- cssFiles.push("bower_components/appirio-tech-timeline/dist/styles/timeline")
- cssFiles.push("bower_components/appirio-tech-timeline/dist/styles/submissions")

- landscapeFiles = []
- landscapeFiles.push("bower_components/appirio-tech-timeline/dist/styles/timeline.landscape")
- landscapeFiles.push("bower_components/appirio-tech-timeline/dist/styles/submissions.landscape")

- desktopFiles = []
