@import "work-styles";

.layout-main.submit-work .brief {
  button.yes, button.no {
    width: 100px;
    margin: 30px 10px;
  }

  > form {
    width       : 300px;
    margin-left : auto;
    margin-right: auto;
    display     : block;

    ap-uploader {
      button {
        margin: 5px;
      }
    }


    .character-count {
      text-align: right;
    }
  }
}
