@import "../../../core/styles/combined";

.layout-main.submit-work .competitors {
  fieldset {
    overflow: hidden;
  }

  input {
    width: 240px;
    float: left;
  }

  .add-competitor {
    width           : 34px;
    float           : right;
    background-color: $white;
    color           : $black;
    margin-top      : 0;
  }

  h6 {
    margin-top: $margin-18;
  }

  .added-competitors {
    li {
      margin-top: $margin-10;
      overflow:  hidden;

      .competitor {
        line-height: 40px;
        float: left;
      }

      .remove-competitor {
        margin-top: 0;
        float: right;
        width: 34px;
        background-color: $white;
        color: $black;
      }
    }
  }

  > form {
    @include main-restricted();
  }
}
