@import "work-styles";

.layout-main.submit-work .type {
  .project-types {
    li {
      display       : inline-block;
      vertical-align: top;
      width         : 140px;
      margin        : 10px;

      .price {
        margin-top      : 10px;
      }

      button {
        height          : 100px;
        margin-top      : 10px;
        background-color: #b3bbbf;

        @include font-line(14);

        &.selected {
          background-color: #38B449;
        }
      }

      .description {
        text-align: left;
        padding: 4px;
      }
    }
  }
}
